<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* This ensures the content is centered vertically */
            margin: 0;
        }

        center {
            text-align: center;
        }
    </style>
</head>
<body>
    <center>
        <a href="tel:+91837413640">Contact Us</a>
        

        <!-- Add this button for WhatsApp -->
        <a href="https://wa.me/91837413640" target="_blank">WhatsApp Us</a>
    </center>
</body>
</html>
