<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Preskool - Students</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">

	<!-- Fontfamily -->
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">

	<!-- Pe7 CSS -->
	<link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="/public/assets/admin/css/bootstrap-datetimepicker.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="/public/assets/admin/plugins/select2/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/public/assets/admin/css/style.css">
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<%- include('header.ejs') %>

			<!-- /Header -->

			<!-- Sidebar -->
			<%- include('sidebar.ejs') %>
				<!-- /Sidebar -->

				<!-- Page Wrapper -->
				<div class="page-wrapper">
					<div class="content container-fluid">

						<!-- Page Header -->
						<div class="page-header">
							<div class="row align-items-center">
								<div class="col-sm-12">
									<div class="page-sub-header">
										<h3 class="page-title">Add Company</h3>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="/user">Company</a></li>
											<li class="breadcrumb-item active">Add Company</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Page Header -->

						<div class="row">
							<div class="col-sm-12">

								<div class="card comman-shadow">
									<div class="card-body">
										<form action="/company-details" method="post" enctype="multipart/form-data">
											<div class="row">
												<div class="col-12">
													<h5 class="form-title student-info">Company Information <span><a
																href="javascript:;"><i
																	class="feather-more-vertical"></i></a></span></h5>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label>Name <span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter Company Name" name="name" required>
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label>Company-Logo</label>
														<input class="form-control" type="file"
															placeholder="Select Logo" name="logo" accept="image/*"
															required>
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label>CEO Name<span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter Phone number" name="cname" required>
													</div>
												</div>

												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label>CEO Number<span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter number" name="cnum" required>
													</div>
												</div>

												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label>CEO Email<span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter E-mail" name="cmail" required>
													</div>
												</div>

												<div class="col-12">
													<div class="student-submit">
														<button type="submit" class="btn btn-primary">Create
															User</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Page Wrapper -->
				<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="/public/assets/admin/js/feather.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Select2 JS -->
	<script src="/public/assets/admin/plugins/select2/js/select2.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="/public/assets/admin/plugins/moment/moment.min.js"></script>
	<script src="/public/assets/admin/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Custom JS -->
	<script src="/public/assets/admin/js/script.js"></script>

</body>

</html>