<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Ecardify - Dashboard<title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
	
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <%- include('header.ejs') %>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main Menu</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="index.ejs">Admin Dashboard</a></li>
									<li><a href="teacher-dashboard.ejs">Teacher Dashboard</a></li>
									<li><a href="student-dashboard.ejs">Student Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-graduation-cap"></i> <span> Students</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="students.ejs">Student List</a></li>
									<li><a href="student-details.ejs">Student View</a></li>
									<li><a href="add-student.ejs">Student Add</a></li>
									<li><a href="edit-student.ejs">Student Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/teachers">Teacher List</a></li>
									<li><a href="teacher-details.ejs">Teacher View</a></li>
									<li><a href="add-teacher.ejs">Teacher Add</a></li>
									<li><a href="edit-teacher.ejs">Teacher Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="departments.ejs">Department List</a></li>
									<li><a href="add-department.ejs">Department Add</a></li>
									<li><a href="edit-department.ejs">Department Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="subjects.ejs">Subject List</a></li>
									<li><a href="add-subject.ejs">Subject Add</a></li>
									<li><a href="edit-subject.ejs">Subject Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="invoices.ejs">Invoices List</a></li>
									<li><a href="invoice-grid.ejs">Invoices Grid</a></li>
									<li><a href="add-invoice.ejs">Add Invoices</a></li>
									<li><a href="edit-invoice.ejs">Edit Invoices</a></li>
									<li><a href="view-invoice.ejs">Invoices Details</a></li>
									<li><a href="invoices-settings.ejs">Invoices Settings</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Management</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="fees-collections.ejs">Fees Collection</a></li>
									<li><a href="expenses.ejs">Expenses</a></li>
									<li><a href="salary.ejs">Salary</a></li>
									<li><a href="add-fees-collection.ejs">Add Fees</a></li>
									<li><a href="add-expenses.ejs">Add Expenses</a></li>
									<li><a href="add-salary.ejs">Add Salary</a></li>
								</ul>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-table"></i> <span>Time Table</span></a>
							</li>
							<li> 
								<a href="index.ejs"><i class="fas fa-book"></i> <span>Library</span></a>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fa fa-newspaper"></i> <span> Blogs</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="blog.ejs">All Blogs</a></li>
                                    <li><a href="add-blog.ejs">Add Blog</a></li>
                                    <li><a href="edit-blog.ejs">Edit Blog</a></li>
                                    
                                </ul>
                            </li>
							<li> 
								<a href="settings.ejs"><i class="fas fa-cog"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="login.ejs">Login</a></li>
									<li><a href="register.ejs">Register</a></li>
									<li><a href="forgot-password.ejs">Forgot Password</a></li>
									<li><a href="error-404.ejs">Error Page</a></li>
								</ul>
							</li>
							<li> 
								<a href="blank-page.ejs"><i class="fas fa-file"></i> <span>Blank Page</span></a>
							</li>

							<li class="menu-title"> 
								<span>Others</span>
							</li>

							<li> 
								<a href="sports.ejs"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
							</li>
							<li> 
								<a href="hostel.ejs"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
							</li>
							<li> 
								<a href="transport.ejs"><i class="fas fa-bus"></i> <span>Transport</span></a>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="alerts.ejs">Alerts</a></li>                                    
                                    <li><a href="accordions.ejs">Accordions</a></li>
                                    <li><a href="avatar.ejs">Avatar</a></li> 
                                    <li><a href="badges.ejs">Badges</a></li>
                                    <li><a href="buttons.ejs">Buttons</a></li>   
                                    <li><a href="buttongroup.ejs">Button Group</a></li>                                  
                                    <li><a href="breadcrumbs.ejs">Breadcrumb</a></li>
                                    <li><a href="cards.ejs">Cards</a></li>
                                    <li><a href="carousel.ejs">Carousel</a></li>                                   
                                    <li><a href="dropdowns.ejs">Dropdowns</a></li>
                                    <li><a href="grid.ejs">Grid</a></li>
                                    <li><a href="images.ejs">Images</a></li>
                                    <li><a href="lightbox.ejs">Lightbox</a></li>
                                    <li><a href="media.ejs">Media</a></li>                              
                                    <li><a href="modal.ejs">Modals</a></li>
                                    <li><a href="offcanvas.ejs">Offcanvas</a></li>
                                    <li><a href="pagination.ejs">Pagination</a></li>
                                    <li><a href="popover.ejs">Popover</a></li>                                    
                                    <li><a href="progress.ejs">Progress Bars</a></li>
                                    <li><a href="placeholders.ejs">Placeholders</a></li>
                                    <li><a href="rangeslider.ejs">Range Slider</a></li>                                    
                                    <li><a href="spinners.ejs">Spinner</a></li>
                                    <li><a href="sweetalerts.ejs">Sweet Alerts</a></li>
                                    <li><a href="tab.ejs">Tabs</a></li>
                                    <li><a href="toastr.ejs">Toasts</a></li>
                                    <li><a href="tooltip.ejs">Tooltip</a></li>
                                    <li><a href="typography.ejs">Typography</a></li>
                                    <li><a href="video.ejs">Video</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i data-feather="box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="ribbon.ejs">Ribbon</a></li>
                                    <li><a href="clipboard.ejs">Clipboard</a></li>
                                    <li><a href="drag-drop.ejs">Drag & Drop</a></li>
                                    <li><a href="rating.ejs">Rating</a></li>
                                    <li><a href="text-editor.ejs">Text Editor</a></li>
                                    <li><a href="counter.ejs">Counter</a></li>
                                    <li><a href="scrollbar.ejs">Scrollbar</a></li>
                                    <li><a href="notification.ejs">Notification</a></li>
                                    <li><a href="stickynote.ejs">Sticky Note</a></li>
                                    <li><a href="timeline.ejs">Timeline</a></li>
                                    <li><a href="horizontal-timeline.ejs">Horizontal Timeline</a></li>
                                    <li><a href="form-wizard.ejs">Form Wizard</a></li>
                                </ul>
                            </li>
							<li class="submenu active">
								<a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="chart-apex.ejs">Apex Charts</a></li>
									<li><a href="chart-js.ejs" class="active">Chart Js</a></li>
									<li><a href="chart-morris.ejs">Morris Charts</a></li>
									<li><a href="chart-flot.ejs">Flot Charts</a></li>
									<li><a href="chart-peity.ejs">Peity Charts</a></li>
									<li><a href="chart-c3.ejs">C3 Charts</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i data-feather="award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="icon-fontawesome.ejs">Fontawesome Icons</a></li>
									<li><a href="icon-feather.ejs">Feather Icons</a></li>
									<li><a href="icon-ionic.ejs">Ionic Icons</a></li>
									<li><a href="icon-material.ejs">Material Icons</a></li>
									<li><a href="icon-pe7.ejs">Pe7 Icons</a></li>
									<li><a href="icon-simpleline.ejs">Simpleline Icons</a></li>
									<li><a href="icon-themify.ejs">Themify Icons</a></li>
									<li><a href="icon-weather.ejs">Weather Icons</a></li>
									<li><a href="icon-typicon.ejs">Typicon Icons</a></li>
									<li><a href="icon-flag.ejs">Flag Icons</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="form-basic-inputs.ejs" >Basic Inputs </a></li>
									<li><a href="form-input-groups.ejs">Input Groups </a></li>
									<li><a href="form-horizontal.ejs">Horizontal Form </a></li>
									<li><a href="form-vertical.ejs"> Vertical Form </a></li>
									<li><a href="form-mask.ejs"> Form Mask </a></li>
									<li><a href="form-validation.ejs"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="tables-basic.ejs">Basic Tables </a></li>
									<li><a href="data-tables.ejs">Data Table </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul>
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul>
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Chartjs</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.ejs">Dashboard</a></li>
									<li class="breadcrumb-item active">Components</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
					
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Bar Chart</div>
								</div>
								<div class="card-body">
									<div>
										<canvas id="chartBar1" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Transparency </div>
								</div>
								<div class="card-body">
									<div>
										<canvas id="chartBar2" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
									<div class="card-header">
										<div class="card-title">Gradient Bar Chart</div>
									</div>
									<div class="card-body">
										<div>
											<canvas id="chartBar3" class="h-300"></canvas>
										</div>
									</div>
								</div>
						</div>
						<!-- /Chart -->
						
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
									<div class="card-header">
										<div class="card-title">Horizontal Bar Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<canvas id="chartBar4" class="h-300"></canvas>
										</div>
									</div>
								</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Horizontal Bar Chart Style2</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartBar5" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Vertical Stacked Bar Chart</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartStacked1" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Horizontal Stacked Bar Chart</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartStacked2" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Line Chart</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartLine1" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Donut Chart</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartPie" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Pie Chart</div>
								</div>
								<div class="card-body">
									<div class="chartjs-wrapper-demo">
										<canvas id="chartDonut" class="h-300"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
						<!-- Chart -->
						<div class="col-md-6">	
							<div class="card">
									<div class="card-header">
										<div class="card-title">Area Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<canvas id="chartArea1" class="h-300"></canvas>
										</div>
									</div>
								</div>
						</div>
						<!-- /Chart -->
							
					</div>
				
				</div>
			
				<!-- Footer -->
				<footer>
					<p>Copyright © 2022 Dreamguys.</p>					
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Page Wrapper -->
		
        </>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
        <script src="assets/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Chart JS -->
		<script src="assets/plugins/chartjs/chart.min.js"></script>
		<script src="assets/plugins/chartjs/chart-data.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html>