<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">
		
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/public/assets/admin/css/style.css">
    </head>
    <body>
		
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.ejs" class="logo">
						<img src="/public/assets/admin/img/logo.png" alt="Logo">
					</a>
					<a href="index.ejs" class="logo logo-small">
						<img src="/public/assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<div class="menu-toggle">
					<a href="javascript:void(0);" id="toggle_btn">
						<i class="fas fa-bars"></i>
					</a>
				</div>
				
				<!-- Search Bar -->
				<!--<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>-->
				<!-- /Search Bar -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					<li  class="nav-item dropdown language-drop me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="/public/assets/admin/img/icons/header-icon-01.svg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
						</div>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="/public/assets/admin/img/icons/header-icon-05.svg" alt="">
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-11.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-17.jpg">
												</span>
												<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-13.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					<li  class="nav-item zoom-screen me-2">
						<a href="#" class="nav-link header-nav-list">
							<img src="/public/assets/admin/img/icons/header-icon-04.svg" alt="">
						</a>
					</li>
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow new-user-menus">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="/public/assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="/public/assets/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.ejs">My Profile</a>
							<a class="dropdown-item" href="inbox.ejs">Inbox</a>
							<a class="dropdown-item" href="login.ejs">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
				<%- include('sidebar.ejs') %>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Edit subscriptiion</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/subscription">subscription plan </a></li>
									<li class="breadcrumb-item active"> edit subscription</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //Page Header -->
				
					<div class="row">
						<div class="col-sm-12">
						
							<div class="card">
								<div class="card-body">
									<form id="subscriptionForm">
										<div class="row">
											<div class="col-12">
												<h5 class="form-title"><span>Basic Details</span></h5>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group local-forms">
													<label>plan Name <span class="login-danger">*</span></label>
													<input name="customer" value="" class="form-control" type="text" placeholder="Edit plan Name" required>
												</div>
											</div>
								
											<div class="col-12 col-sm-4">  
												<div class="form-group local-forms">
													<label>Price<span class="login-danger">*</span></label>
													<input name="phone" value="" class="form-control" type="num" placeholder="Edit price" required>
												</div>
											</div>
											<div class="col-12 col-sm-4">  
												<div class="form-group local-forms">
													<label>Feature<span class="login-danger">*</span></label>
													<input name="address" class="form-control" type="text" placeholder="Edit Feature" required>
												</div>
											</div>
										</div>
								
										<div class="row">
											<div class="col-12 button-container">
												<button type="button" id="addFeature">Add feature</button>
											</div>
										</div>
								
										<div class="row" id="additionalFeatures">
											<!-- Dynamic features  will be added here -->
								        </div>
										
										<div class="row">
											<div class="col-12 button-container">
												<div class="student-submit">
													<button name="submit" type="submit" class="btn btn-primary">Submit</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>					
					</div>					
				</div>
				
			</div>
			<!-- /Page Wrapper -->


		<!-- /Main Wrapper -->
		
		<!-- jQuery -->

		<style>
			.button-container {
			  margin-bottom: 15px; /* Add some margin between buttons */
			}
		  </style>


		<script>
			document.addEventListener('DOMContentLoaded', function () {
			  const form = document.getElementById('subscriptionForm');
			  const additionalFeaturesContainer = document.getElementById('additionalFeatures');
			  const addFeatureBtn = document.getElementById('addFeature');
			
			  addFeatureBtn.addEventListener('click', function () {
				additionalFeaturesContainer.innerHTML += `
				  <div class="row">
					<div class="col-12">
					  <div class="form-group">
						<label>Feature Name<span class="login-danger">*</span></label>
						<input name="featureNames[]" class="form-control" type="text" placeholder="Enter Feature Name" required>
					  </div>
					</div>
					<div class="col-12 col-sm-4">
					  <button type="button" class="delete-feature-btn">Delete</button>
					</div>
				  </div>
				`;
			
				const deleteButtons = document.querySelectorAll('.delete-feature-btn');
				deleteButtons.forEach(button => {
				  button.addEventListener('click', function () {
					this.closest('.row').remove();
				  });
				});
			  });
			
			  form.addEventListener('submit', function (event) {
				event.preventDefault();
			
				// Process the form data, e.g., send it to the server using AJAX
				const formData = new FormData(form);
				// ... Perform the necessary actions ...
			
				// Reset the form or redirect the user as needed
				form.reset();
			  });
			});
			</script>



        <script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="/public/assets/admin/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datepicker Core JS -->
		<script src="/public/assets/admin/plugins/moment/moment.min.js"></script>
		<script src="/public/assets/admin/js/bootstrap-datetimepicker.min.js"></script>

		<!-- Select2 JS -->
		<script src="/public/assets/admin/plugins/select2/js/select2.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/public/assets/admin/js/script.js"></script>
    </body>
</html>