<div class="header">
			
    <!-- Logo -->
    <div class="header-left">
         <a href="/index" class="logo">
            <img src="/public/assets/admin/img/logo3.png" alt="Logo" width="100" height="100">
        </a> 
        <a href="index.html" class="logo logo-small">
            <img src="/public/assets/admin/img/favicon.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <!-- /Logo -->
    
    <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
            
    <!-- Mobile Menu Toggle -->
    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>
    <!-- /Mobile Menu Toggle -->
    
    <!-- Header Right Menu -->
    <ul class="nav user-menu">
        
        <!-- Notifications -->
        <li class="nav-item dropdown noti-dropdown me-2">
            
        </li>
        <!-- /Notifications -->
        <!-- <li class="nav-item zoom-screen me-2">
            <a href="#" class="nav-link header-nav-list">
              <img
                src="/public/assets/admin/img/icons/header-icon-04.svg"
                alt=""
              />
            </a>
          </li> -->
        
        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow new-user-menus">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="/public/assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
                    <div class="user-text">
                        <h6>Ryan Taylor</h6>
                        <p class="text-muted mb-0">Administrator</p>
                    </div>
                </span>
            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="/public/assets/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>Ryan Taylor</h6>
                        <p class="text-muted mb-0">Administrator</p>
                    </div>
                </div>
                <a class="dropdown-item" href="login.ejs">Logout</a>
            </div>
        </li>
        <!-- /User Menu -->
        
    </ul>
    <!-- /Header Right Menu -->		
</div>