<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Basic Inputs</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
	
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="assets/plugins/icons/pe7/pe-icon-7.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<div class="menu-toggle">
					<a href="javascript:void(0);" id="toggle_btn">
						<i class="fas fa-bars"></i>
					</a>
				</div>
				
				<!-- Search Bar -->
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- /Search Bar -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					<li  class="nav-item dropdown language-drop me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="assets/img/icons/header-icon-01.svg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
						</div>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="assets/img/icons/header-icon-05.svg" alt="">
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-11.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-17.jpg">
												</span>
												<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-13.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					<li  class="nav-item zoom-screen me-2">
						<a href="#" class="nav-link header-nav-list">
							<img src="assets/img/icons/header-icon-04.svg" alt="">
						</a>
					</li>
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow new-user-menus">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="inbox.html">Inbox</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main Menu</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="index.html">Admin Dashboard</a></li>
									<li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
									<li><a href="student-dashboard.html">Student Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-graduation-cap"></i> <span> Students</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="students.html">Student List</a></li>
									<li><a href="student-details.html">Student View</a></li>
									<li><a href="add-student.html">Student Add</a></li>
									<li><a href="edit-student.html">Student Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="teachers.html">Teacher List</a></li>
									<li><a href="teacher-details.html">Teacher View</a></li>
									<li><a href="add-teacher.html">Teacher Add</a></li>
									<li><a href="edit-teacher.html">Teacher Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="departments.html">Department List</a></li>
									<li><a href="add-department.html">Department Add</a></li>
									<li><a href="edit-department.html">Department Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="subjects.html">Subject List</a></li>
									<li><a href="add-subject.html">Subject Add</a></li>
									<li><a href="edit-subject.html">Subject Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="invoices.html">Invoices List</a></li>
									<li><a href="invoice-grid.html">Invoices Grid</a></li>
									<li><a href="add-invoice.html">Add Invoices</a></li>
									<li><a href="edit-invoice.html">Edit Invoices</a></li>
									<li><a href="view-invoice.html">Invoices Details</a></li>
									<li><a href="invoices-settings.html">Invoices Settings</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Management</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="fees-collections.html">Fees Collection</a></li>
									<li><a href="expenses.html">Expenses</a></li>
									<li><a href="salary.html">Salary</a></li>
									<li><a href="add-fees-collection.html">Add Fees</a></li>
									<li><a href="add-expenses.html">Add Expenses</a></li>
									<li><a href="add-salary.html">Add Salary</a></li>
								</ul>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-book"></i> <span>Library</span></a>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fa fa-newspaper"></i> <span> Blogs</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="blog.html">All Blogs</a></li>
                                    <li><a href="add-blog.html">Add Blog</a></li>
                                    <li><a href="edit-blog.html">Edit Blog</a></li>
                                    
                                </ul>
                            </li>
							<li> 
								<a href="settings.html"><i class="fas fa-cog"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
									<li><a href="error-404.html">Error Page</a></li>
								</ul>
							</li>
							<li> 
								<a href="blank-page.html"><i class="fas fa-file"></i> <span>Blank Page</span></a>
							</li>

							<li class="menu-title"> 
								<span>Others</span>
							</li>

							<li> 
								<a href="sports.html"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
							</li>
							<li> 
								<a href="hostel.html"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
							</li>
							<li> 
								<a href="transport.html"><i class="fas fa-bus"></i> <span>Transport</span></a>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="alerts.html">Alerts</a></li>                                    
                                    <li><a href="accordions.html">Accordions</a></li>
                                    <li><a href="avatar.html">Avatar</a></li> 
                                    <li><a href="badges.html">Badges</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>   
                                    <li><a href="buttongroup.html">Button Group</a></li>                                  
                                    <li><a href="breadcrumbs.html">Breadcrumb</a></li>
                                    <li><a href="cards.html">Cards</a></li>
                                    <li><a href="carousel.html">Carousel</a></li>                                   
                                    <li><a href="dropdowns.html">Dropdowns</a></li>
                                    <li><a href="grid.html">Grid</a></li>
                                    <li><a href="images.html">Images</a></li>
                                    <li><a href="lightbox.html">Lightbox</a></li>
                                    <li><a href="media.html">Media</a></li>                              
                                    <li><a href="modal.html">Modals</a></li>
                                    <li><a href="offcanvas.html">Offcanvas</a></li>
                                    <li><a href="pagination.html">Pagination</a></li>
                                    <li><a href="popover.html">Popover</a></li>                                    
                                    <li><a href="progress.html">Progress Bars</a></li>
                                    <li><a href="placeholders.html">Placeholders</a></li>
                                    <li><a href="rangeslider.html">Range Slider</a></li>                                    
                                    <li><a href="spinners.html">Spinner</a></li>
                                    <li><a href="sweetalerts.html">Sweet Alerts</a></li>
                                    <li><a href="tab.html">Tabs</a></li>
                                    <li><a href="toastr.html">Toasts</a></li>
                                    <li><a href="tooltip.html">Tooltip</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="video.html">Video</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i data-feather="box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="ribbon.html">Ribbon</a></li>
                                    <li><a href="clipboard.html">Clipboard</a></li>
                                    <li><a href="drag-drop.html">Drag & Drop</a></li>
                                    <li><a href="rating.html">Rating</a></li>
                                    <li><a href="text-editor.html">Text Editor</a></li>
                                    <li><a href="counter.html">Counter</a></li>
                                    <li><a href="scrollbar.html">Scrollbar</a></li>
                                    <li><a href="notification.html">Notification</a></li>
                                    <li><a href="stickynote.html">Sticky Note</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>
                                    <li><a href="form-wizard.html">Form Wizard</a></li>
                                </ul>
                            </li>
							<li class="submenu">
								<a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="chart-apex.html">Apex Charts</a></li>
									<li><a href="chart-js.html">Chart Js</a></li>
									<li><a href="chart-morris.html">Morris Charts</a></li>
									<li><a href="chart-flot.html">Flot Charts</a></li>
									<li><a href="chart-peity.html">Peity Charts</a></li>
									<li><a href="chart-c3.html">C3 Charts</a></li>
								</ul>
							</li>
							<li class="submenu active">
								<a href="#"><i data-feather="award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>
									<li><a href="icon-feather.html">Feather Icons</a></li>
									<li><a href="icon-ionic.html">Ionic Icons</a></li>
									<li><a href="icon-material.html">Material Icons</a></li>
									<li><a href="icon-pe7.html" class="active">Pe7 Icons</a></li>
									<li><a href="icon-simpleline.html">Simpleline Icons</a></li>
									<li><a href="icon-themify.html">Themify Icons</a></li>
									<li><a href="icon-weather.html">Weather Icons</a></li>
									<li><a href="icon-typicon.html">Typicon Icons</a></li>
									<li><a href="icon-flag.html">Flag Icons</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="form-basic-inputs.html" >Basic Inputs </a></li>
									<li><a href="form-input-groups.html">Input Groups </a></li>
									<li><a href="form-horizontal.html">Horizontal Form </a></li>
									<li><a href="form-vertical.html"> Vertical Form </a></li>
									<li><a href="form-mask.html"> Form Mask </a></li>
									<li><a href="form-validation.html"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="tables-basic.html">Basic Tables </a></li>
									<li><a href="data-tables.html">Data Table </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul>
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul>
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Pe7 Icon</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Components</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
					
						<!-- Chart -->
						<div class="col-md-12">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Pe7 Icon</div>
								</div>
								<div class="card-body">
									<div class="icons-items">
										<ul class="icons-list">
											<li><i class="pe-7s-album" data-bs-toggle="tooltip" title="pe-7s-album"></i></li>
											<li><i class="pe-7s-arc" data-bs-toggle="tooltip" title="pe-7s-arc"></i></li>
											<li><i class="pe-7s-back-2" data-bs-toggle="tooltip" title="pe-7s-back-2"></i></li>
											<li><i class="pe-7s-bandaid" data-bs-toggle="tooltip" title="pe-7s-bandaid"></i></li>
											<li><i class="pe-7s-car" data-bs-toggle="tooltip" title="pe-7s-car"></i></li>
											<li><i class="pe-7s-diamond" data-bs-toggle="tooltip" title="pe-7s-diamond"></i></li>
											<li><i class="pe-7s-door-lock" data-bs-toggle="tooltip" title="pe-7s-door-lock"></i></li>
											<li><i class="pe-7s-eyedropper" data-bs-toggle="tooltip" title="pe-7s-eyedropper"></i></li>
											<li><i class="pe-7s-female" data-bs-toggle="tooltip" title="pe-7s-female"></i></li>
											<li><i class="pe-7s-gym" data-bs-toggle="tooltip" title="pe-7s-gym"></i></li>
											<li><i class="pe-7s-hammer" data-bs-toggle="tooltip" title="pe-7s-hammer"></i></li>
											<li><i class="pe-7s-headphones" data-bs-toggle="tooltip" title="pe-7s-headphones"></i></li>
											<li><i class="pe-7s-helm" data-bs-toggle="tooltip" title="pe-7s-helm"></i></li>
											<li><i class="pe-7s-hourglass" data-bs-toggle="tooltip" title="pe-7s-hourglass"></i></li>
											<li><i class="pe-7s-leaf" data-bs-toggle="tooltip" title="pe-7s-leaf"></i></li>
											<li><i class="pe-7s-magic-wand" data-bs-toggle="tooltip" title="pe-7s-magic-wand"></i></li>
											<li><i class="pe-7s-male" data-bs-toggle="tooltip" title="pe-7s-male"></i></li>
											<li><i class="pe-7s-map-2" data-bs-toggle="tooltip" title="pe-7s-map-2"></i></li>
											<li><i class="pe-7s-next-2" data-bs-toggle="tooltip" title="pe-7s-next-2"></i></li>
											<li><i class="pe-7s-paint-bucket" data-bs-toggle="tooltip" title="pe-7s-paint-bucket"></i></li>
											<li><i class="pe-7s-pendrive" data-bs-toggle="tooltip" title="pe-7s-pendrive"></i></li>
											<li><i class="pe-7s-photo" data-bs-toggle="tooltip" title="pe-7s-photo"></i></li>
											<li><i class="pe-7s-piggy" data-bs-toggle="tooltip" title="pe-7s-piggy"></i></li>
											<li><i class="pe-7s-plugin" data-bs-toggle="tooltip" title="pe-7s-plugin"></i></li>
											<li><i class="pe-7s-refresh-2" data-bs-toggle="tooltip" title="pe-7s-refresh-2"></i></li>
											<li><i class="pe-7s-rocket" data-bs-toggle="tooltip" title="pe-7s-rocket"></i></li>
											<li><i class="pe-7s-settings" data-bs-toggle="tooltip" title="pe-7s-settings"></i></li>
											<li><i class="pe-7s-shield" data-bs-toggle="tooltip" title="pe-7s-shield"></i></li>
											<li><i class="pe-7s-smile" data-bs-toggle="tooltip" title="pe-7s-smile"></i></li>
											<li><i class="pe-7s-usb" data-bs-toggle="tooltip" title="pe-7s-usb"></i></li>
											<li><i class="pe-7s-vector" data-bs-toggle="tooltip" title="pe-7s-vector"></i></li>
											<li><i class="pe-7s-wine" data-bs-toggle="tooltip" title="pe-7s-wine"></i></li>
											<li><i class="pe-7s-cloud-upload" data-bs-toggle="tooltip" title="pe-7s-cloud-upload"></i></li>
											<li><i class="pe-7s-cash" data-bs-toggle="tooltip" title="pe-7s-cash"></i></li>
											<li><i class="pe-7s-close" data-bs-toggle="tooltip" title="pe-7s-close"></i></li>
											<li><i class="pe-7s-bluetooth" data-bs-toggle="tooltip" title="pe-7s-bluetooth"></i></li>
											<li><i class="pe-7s-cloud-download" data-bs-toggle="tooltip" title="pe-7s-cloud-download"></i></li>
											<li><i class="pe-7s-way" data-bs-toggle="tooltip" title="pe-7s-way"></i></li>
											<li><i class="pe-7s-close-circle" data-bs-toggle="tooltip" title="pe-7s-close-circle"></i></li>
											<li><i class="pe-7s-id" data-bs-toggle="tooltip" title="pe-7s-id"></i></li>
											<li><i class="pe-7s-angle-up" data-bs-toggle="tooltip" title="pe-7s-angle-up"></i></li>
											<li><i class="pe-7s-wristwatch" data-bs-toggle="tooltip" title="pe-7s-wristwatch"></i></li>
											<li><i class="pe-7s-angle-up-circle" data-bs-toggle="tooltip" title="pe-7s-angle-up-circle"></i></li>
											<li><i class="pe-7s-world" data-bs-toggle="tooltip" title="pe-7s-world"></i></li>
											<li><i class="pe-7s-angle-right" data-bs-toggle="tooltip" title="pe-7s-angle-right"></i></li>
											<li><i class="pe-7s-volume" data-bs-toggle="tooltip" title="pe-7s-volume"></i></li>
											<li><i class="pe-7s-angle-right-circle" data-bs-toggle="tooltip" title="pe-7s-angle-right-circle"></i></li>
											<li><i class="pe-7s-users" data-bs-toggle="tooltip" title="pe-7s-users"></i></li>
											<li><i class="pe-7s-angle-left" data-bs-toggle="tooltip" title="pe-7s-angle-left"></i></li>
											<li><i class="pe-7s-user-female" data-bs-toggle="tooltip" title="pe-7s-user-female"></i></li>
											<li><i class="pe-7s-angle-left-circle" data-bs-toggle="tooltip" title="pe-7s-angle-left-circle"></i></li>
											<li><i class="pe-7s-up-arrow" data-bs-toggle="tooltip" title="pe-7s-up-arrow"></i></li>
											<li><i class="pe-7s-angle-down" data-bs-toggle="tooltip" title="pe-7s-angle-down"></i></li>
											<li><i class="pe-7s-switch" data-bs-toggle="tooltip" title="pe-7s-switch"></i></li>
											<li><i class="pe-7s-angle-down-circle" data-bs-toggle="tooltip" title="pe-7s-angle-down-circle"></i></li>
											<li><i class="pe-7s-scissors" data-bs-toggle="tooltip" title="pe-7s-scissors"></i></li>
											<li><i class="pe-7s-wallet" data-bs-toggle="tooltip" title="pe-7s-wallet"></i></li>
											<li><i class="pe-7s-safe" data-bs-toggle="tooltip" title="pe-7s-safe"></i></li>
											<li><i class="pe-7s-volume2" data-bs-toggle="tooltip" title="pe-7s-volume2"></i></li>
											<li><i class="pe-7s-volume1" data-bs-toggle="tooltip" title="pe-7s-volume1"></i></li>
											<li><i class="pe-7s-voicemail" data-bs-toggle="tooltip" title="pe-7s-voicemail"></i></li>
											<li><i class="pe-7s-video" data-bs-toggle="tooltip" title="pe-7s-video"></i></li>
											<li><i class="pe-7s-user" data-bs-toggle="tooltip" title="pe-7s-user"></i></li>
											<li><i class="pe-7s-upload" data-bs-toggle="tooltip" title="pe-7s-upload"></i></li>
											<li><i class="pe-7s-unlock" data-bs-toggle="tooltip" title="pe-7s-unlock"></i></li>
											<li><i class="pe-7s-umbrella" data-bs-toggle="tooltip" title="pe-7s-umbrella"></i></li>
											<li><i class="pe-7s-trash" data-bs-toggle="tooltip" title="pe-7s-trash"></i></li>
											<li><i class="pe-7s-tools" data-bs-toggle="tooltip" title="pe-7s-tools"></i></li>
											<li><i class="pe-7s-timer" data-bs-toggle="tooltip" title="pe-7s-timer"></i></li>
											<li><i class="pe-7s-ticket" data-bs-toggle="tooltip" title="pe-7s-ticket"></i></li>
											<li><i class="pe-7s-target" data-bs-toggle="tooltip" title="pe-7s-target"></i></li>
											<li><i class="pe-7s-sun" data-bs-toggle="tooltip" title="pe-7s-sun"></i></li>
											<li><i class="pe-7s-study" data-bs-toggle="tooltip" title="pe-7s-study"></i></li>
											<li><i class="pe-7s-stopwatch" data-bs-toggle="tooltip" title="pe-7s-stopwatch"></i></li>
											<li><i class="pe-7s-star" data-bs-toggle="tooltip" title="pe-7s-star"></i></li>
											<li><i class="pe-7s-speaker" data-bs-toggle="tooltip" title="pe-7s-speaker"></i></li>
											<li><i class="pe-7s-signal" data-bs-toggle="tooltip" title="pe-7s-signal"></i></li>
											<li><i class="pe-7s-shuffle" data-bs-toggle="tooltip" title="pe-7s-shuffle"></i></li>
											<li><i class="pe-7s-shopbag" data-bs-toggle="tooltip" title="pe-7s-shopbag"></i></li>
											<li><i class="pe-7s-share" data-bs-toggle="tooltip" title="pe-7s-share"></i></li>
											<li><i class="pe-7s-server" data-bs-toggle="tooltip" title="pe-7s-server"></i></li>
											<li><i class="pe-7s-search" data-bs-toggle="tooltip" title="pe-7s-search"></i></li>
											<li><i class="pe-7s-film" data-bs-toggle="tooltip" title="pe-7s-film"></i></li>
											<li><i class="pe-7s-science" data-bs-toggle="tooltip" title="pe-7s-science"></i></li>
											<li><i class="pe-7s-disk" data-bs-toggle="tooltip" title="pe-7s-disk"></i></li>
											<li><i class="pe-7s-ribbon" data-bs-toggle="tooltip" title="pe-7s-ribbon"></i></li>
											<li><i class="pe-7s-repeat" data-bs-toggle="tooltip" title="pe-7s-repeat"></i></li>
											<li><i class="pe-7s-refresh" data-bs-toggle="tooltip" title="pe-7s-refresh"></i></li>
											<li><i class="pe-7s-add-user" data-bs-toggle="tooltip" title="pe-7s-add-user"></i></li>
											<li><i class="pe-7s-refresh-cloud" data-bs-toggle="tooltip" title="pe-7s-refresh-cloud"></i></li>
											<li><i class="pe-7s-paperclip" data-bs-toggle="tooltip" title="pe-7s-paperclip"></i></li>
											<li><i class="pe-7s-radio" data-bs-toggle="tooltip" title="pe-7s-radio"></i></li>
											<li><i class="pe-7s-note2" data-bs-toggle="tooltip" title="pe-7s-note2"></i></li>
											<li><i class="pe-7s-print" data-bs-toggle="tooltip" title="pe-7s-print"></i></li>
											<li><i class="pe-7s-network" data-bs-toggle="tooltip" title="pe-7s-network"></i></li>
											<li><i class="pe-7s-prev" data-bs-toggle="tooltip" title="pe-7s-prev"></i></li>
											<li><i class="pe-7s-mute" data-bs-toggle="tooltip" title="pe-7s-mute"></i></li>
											<li><i class="pe-7s-power" data-bs-toggle="tooltip" title="pe-7s-power"></i></li>
											<li><i class="pe-7s-medal" data-bs-toggle="tooltip" title="pe-7s-medal"></i></li>
											<li><i class="pe-7s-portfolio" data-bs-toggle="tooltip" title="pe-7s-portfolio"></i></li>
											<li><i class="pe-7s-like2" data-bs-toggle="tooltip" title="pe-7s-like2"></i></li>
											<li><i class="pe-7s-plus" data-bs-toggle="tooltip" title="pe-7s-plus"></i></li>
											<li><i class="pe-7s-left-arrow" data-bs-toggle="tooltip" title="pe-7s-left-arrow"></i></li>
											<li><i class="pe-7s-play" data-bs-toggle="tooltip" title="pe-7s-play"></i></li>
											<li><i class="pe-7s-key" data-bs-toggle="tooltip" title="pe-7s-key"></i></li>
											<li><i class="pe-7s-plane" data-bs-toggle="tooltip" title="pe-7s-plane"></i></li>
											<li><i class="pe-7s-joy" data-bs-toggle="tooltip" title="pe-7s-joy"></i></li>
											<li><i class="pe-7s-photo-gallery" data-bs-toggle="tooltip" title="pe-7s-photo-gallery"></i></li>
											<li><i class="pe-7s-pin" data-bs-toggle="tooltip" title="pe-7s-pin"></i></li>
											<li><i class="pe-7s-phone" data-bs-toggle="tooltip" title="pe-7s-phone"></i></li>
											<li><i class="pe-7s-plug" data-bs-toggle="tooltip" title="pe-7s-plug"></i></li>
											<li><i class="pe-7s-pen" data-bs-toggle="tooltip" title="pe-7s-pen"></i></li>
											<li><i class="pe-7s-right-arrow" data-bs-toggle="tooltip" title="pe-7s-right-arrow"></i></li>
											<li><i class="pe-7s-paper-plane" data-bs-toggle="tooltip" title="pe-7s-paper-plane"></i></li>
											<li><i class="pe-7s-delete-user" data-bs-toggle="tooltip" title="pe-7s-delete-user"></i></li>
											<li><i class="pe-7s-paint" data-bs-toggle="tooltip" title="pe-7s-paint"></i></li>
											<li><i class="pe-7s-bottom-arrow" data-bs-toggle="tooltip" title="pe-7s-bottom-arrow"></i></li>
											<li><i class="pe-7s-notebook" data-bs-toggle="tooltip" title="pe-7s-notebook"></i></li>
											<li><i class="pe-7s-note" data-bs-toggle="tooltip" title="pe-7s-note"></i></li>
											<li><i class="pe-7s-next" data-bs-toggle="tooltip" title="pe-7s-next"></i></li>
											<li><i class="pe-7s-news-paper" data-bs-toggle="tooltip" title="pe-7s-news-paper"></i></li>
											<li><i class="pe-7s-musiclist" data-bs-toggle="tooltip" title="pe-7s-musiclist"></i></li>
											<li><i class="pe-7s-music" data-bs-toggle="tooltip" title="pe-7s-music"></i></li>
											<li><i class="pe-7s-mouse" data-bs-toggle="tooltip" title="pe-7s-mouse"></i></li>
											<li><i class="pe-7s-more" data-bs-toggle="tooltip" title="pe-7s-more"></i></li>
											<li><i class="pe-7s-moon" data-bs-toggle="tooltip" title="pe-7s-moon"></i></li>
											<li><i class="pe-7s-monitor" data-bs-toggle="tooltip" title="pe-7s-monitor"></i></li>
											<li><i class="pe-7s-micro" data-bs-toggle="tooltip" title="pe-7s-micro"></i></li>
											<li><i class="pe-7s-menu" data-bs-toggle="tooltip" title="pe-7s-menu"></i></li>
											<li><i class="pe-7s-map" data-bs-toggle="tooltip" title="pe-7s-map"></i></li>
											<li><i class="pe-7s-map-marker" data-bs-toggle="tooltip" title="pe-7s-map-marker"></i></li>
											<li><i class="pe-7s-mail" data-bs-toggle="tooltip" title="pe-7s-mail"></i></li>
											<li><i class="pe-7s-mail-open" data-bs-toggle="tooltip" title="pe-7s-mail-open"></i></li>
											<li><i class="pe-7s-mail-open-file" data-bs-toggle="tooltip" title="pe-7s-mail-open-file"></i></li>
											<li><i class="pe-7s-magnet" data-bs-toggle="tooltip" title="pe-7s-magnet"></i></li>
											<li><i class="pe-7s-loop" data-bs-toggle="tooltip" title="pe-7s-loop"></i></li>
											<li><i class="pe-7s-look" data-bs-toggle="tooltip" title="pe-7s-look"></i></li>
											<li><i class="pe-7s-lock" data-bs-toggle="tooltip" title="pe-7s-lock"></i></li>
											<li><i class="pe-7s-lintern" data-bs-toggle="tooltip" title="pe-7s-lintern"></i></li>
											<li><i class="pe-7s-link" data-bs-toggle="tooltip" title="pe-7s-link"></i></li>
											<li><i class="pe-7s-like" data-bs-toggle="tooltip" title="pe-7s-like"></i></li>
											<li><i class="pe-7s-light" data-bs-toggle="tooltip" title="pe-7s-light"></i></li>
											<li><i class="pe-7s-less" data-bs-toggle="tooltip" title="pe-7s-less"></i></li>
											<li><i class="pe-7s-keypad" data-bs-toggle="tooltip" title="pe-7s-keypad"></i></li>
											<li><i class="pe-7s-junk" data-bs-toggle="tooltip" title="pe-7s-junk"></i></li>
											<li><i class="pe-7s-info" data-bs-toggle="tooltip" title="pe-7s-info"></i></li>
											<li><i class="pe-7s-home" data-bs-toggle="tooltip" title="pe-7s-home"></i></li>
											<li><i class="pe-7s-help2" data-bs-toggle="tooltip" title="pe-7s-help2"></i></li>
											<li><i class="pe-7s-help1" data-bs-toggle="tooltip" title="pe-7s-help1"></i></li>
											<li><i class="pe-7s-graph3" data-bs-toggle="tooltip" title="pe-7s-graph3"></i></li>
											<li><i class="pe-7s-graph2" data-bs-toggle="tooltip" title="pe-7s-graph2"></i></li>
											<li><i class="pe-7s-graph1" data-bs-toggle="tooltip" title="pe-7s-graph1"></i></li>
											<li><i class="pe-7s-graph" data-bs-toggle="tooltip" title="pe-7s-graph"></i></li>
											<li><i class="pe-7s-global" data-bs-toggle="tooltip" title="pe-7s-global"></i></li>
											<li><i class="pe-7s-gleam" data-bs-toggle="tooltip" title="pe-7s-gleam"></i></li>
											<li><i class="pe-7s-glasses" data-bs-toggle="tooltip" title="pe-7s-glasses"></i></li>
											<li><i class="pe-7s-gift" data-bs-toggle="tooltip" title="pe-7s-gift"></i></li>
											<li><i class="pe-7s-folder" data-bs-toggle="tooltip" title="pe-7s-folder"></i></li>
											<li><i class="pe-7s-flag" data-bs-toggle="tooltip" title="pe-7s-flag"></i></li>
											<li><i class="pe-7s-filter" data-bs-toggle="tooltip" title="pe-7s-filter"></i></li>
											<li><i class="pe-7s-file" data-bs-toggle="tooltip" title="pe-7s-file"></i></li>
											<li><i class="pe-7s-expand1" data-bs-toggle="tooltip" title="pe-7s-expand1"></i></li>
											<li><i class="pe-7s-exapnd2" data-bs-toggle="tooltip" title="pe-7s-exapnd2"></i></li>
											<li><i class="pe-7s-edit" data-bs-toggle="tooltip" title="pe-7s-edit"></i></li>
											<li><i class="pe-7s-drop" data-bs-toggle="tooltip" title="pe-7s-drop"></i></li>
											<li><i class="pe-7s-drawer" data-bs-toggle="tooltip" title="pe-7s-drawer"></i></li>
											<li><i class="pe-7s-download" data-bs-toggle="tooltip" title="pe-7s-download"></i></li>
											<li><i class="pe-7s-display2" data-bs-toggle="tooltip" title="pe-7s-display2"></i></li>
											<li><i class="pe-7s-display1" data-bs-toggle="tooltip" title="pe-7s-display1"></i></li>
											<li><i class="pe-7s-diskette" data-bs-toggle="tooltip" title="pe-7s-diskette"></i></li>
											<li><i class="pe-7s-date" data-bs-toggle="tooltip" title="pe-7s-date"></i></li>
											<li><i class="pe-7s-cup" data-bs-toggle="tooltip" title="pe-7s-cup"></i></li>
											<li><i class="pe-7s-culture" data-bs-toggle="tooltip" title="pe-7s-culture"></i></li>
											<li><i class="pe-7s-crop" data-bs-toggle="tooltip" title="pe-7s-crop"></i></li>
											<li><i class="pe-7s-credit" data-bs-toggle="tooltip" title="pe-7s-credit"></i></li>
											<li><i class="pe-7s-copy-file" data-bs-toggle="tooltip" title="pe-7s-copy-file"></i></li>
											<li><i class="pe-7s-config" data-bs-toggle="tooltip" title="pe-7s-config"></i></li>
											<li><i class="pe-7s-compass" data-bs-toggle="tooltip" title="pe-7s-compass"></i></li>
											<li><i class="pe-7s-comment" data-bs-toggle="tooltip" title="pe-7s-comment"></i></li>
											<li><i class="pe-7s-coffee" data-bs-toggle="tooltip" title="pe-7s-coffee"></i></li>
											<li><i class="pe-7s-cloud" data-bs-toggle="tooltip" title="pe-7s-cloud"></i></li>
											<li><i class="pe-7s-clock" data-bs-toggle="tooltip" title="pe-7s-clock"></i></li>
											<li><i class="pe-7s-check" data-bs-toggle="tooltip" title="pe-7s-check"></i></li>
											<li><i class="pe-7s-chat" data-bs-toggle="tooltip" title="pe-7s-chat"></i></li>
											<li><i class="pe-7s-cart" data-bs-toggle="tooltip" title="pe-7s-cart"></i></li>
											<li><i class="pe-7s-camera" data-bs-toggle="tooltip" title="pe-7s-camera"></i></li>
											<li><i class="pe-7s-call" data-bs-toggle="tooltip" title="pe-7s-call"></i></li>
											<li><i class="pe-7s-calculator" data-bs-toggle="tooltip" title="pe-7s-calculator"></i></li>
											<li><i class="pe-7s-browser" data-bs-toggle="tooltip" title="pe-7s-browser"></i></li>
											<li><i class="pe-7s-box2" data-bs-toggle="tooltip" title="pe-7s-box2"></i></li>
											<li><i class="pe-7s-box1" data-bs-toggle="tooltip" title="pe-7s-box1"></i></li>
											<li><i class="pe-7s-bookmarks" data-bs-toggle="tooltip" title="pe-7s-bookmarks"></i></li>
											<li><i class="pe-7s-bicycle" data-bs-toggle="tooltip" title="pe-7s-bicycle"></i></li>
											<li><i class="pe-7s-bell" data-bs-toggle="tooltip" title="pe-7s-bell"></i></li>
											<li><i class="pe-7s-battery" data-bs-toggle="tooltip" title="pe-7s-battery"></i></li>
											<li><i class="pe-7s-ball" data-bs-toggle="tooltip" title="pe-7s-ball"></i></li>
											<li><i class="pe-7s-back" data-bs-toggle="tooltip" title="pe-7s-back"></i></li>
											<li><i class="pe-7s-attention" data-bs-toggle="tooltip" title="pe-7s-attention"></i></li>
											<li><i class="pe-7s-anchor" data-bs-toggle="tooltip" title="pe-7s-anchor"></i></li>
											<li><i class="pe-7s-albums" data-bs-toggle="tooltip" title="pe-7s-albums"></i></li>
											<li><i class="pe-7s-alarm" data-bs-toggle="tooltip" title="pe-7s-alarm"></i></li>
											<li><i class="pe-7s-airplay" data-bs-toggle="tooltip" title="pe-7s-airplay"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
					</div>
				
				</div>
			
				<!-- Footer -->
				<footer>
					<p>Copyright © 2022 Dreamguys.</p>					
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
        <script src="assets/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html>