<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Basic Inputs</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
	
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="assets/plugins/icons/themify/themify.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<div class="menu-toggle">
					<a href="javascript:void(0);" id="toggle_btn">
						<i class="fas fa-bars"></i>
					</a>
				</div>
				
				<!-- Search Bar -->
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- /Search Bar -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					<li  class="nav-item dropdown language-drop me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="assets/img/icons/header-icon-01.svg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
						</div>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="assets/img/icons/header-icon-05.svg" alt="">
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-11.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-17.jpg">
												</span>
												<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-13.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					<li  class="nav-item zoom-screen me-2">
						<a href="#" class="nav-link header-nav-list">
							<img src="assets/img/icons/header-icon-04.svg" alt="">
						</a>
					</li>
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow new-user-menus">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="inbox.html">Inbox</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main Menu</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="index.html">Admin Dashboard</a></li>
									<li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
									<li><a href="student-dashboard.html">Student Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-graduation-cap"></i> <span> Students</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="students.html">Student List</a></li>
									<li><a href="student-details.html">Student View</a></li>
									<li><a href="add-student.html">Student Add</a></li>
									<li><a href="edit-student.html">Student Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="teachers.html">Teacher List</a></li>
									<li><a href="teacher-details.html">Teacher View</a></li>
									<li><a href="add-teacher.html">Teacher Add</a></li>
									<li><a href="edit-teacher.html">Teacher Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="departments.html">Department List</a></li>
									<li><a href="add-department.html">Department Add</a></li>
									<li><a href="edit-department.html">Department Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="subjects.html">Subject List</a></li>
									<li><a href="add-subject.html">Subject Add</a></li>
									<li><a href="edit-subject.html">Subject Edit</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="invoices.html">Invoices List</a></li>
									<li><a href="invoice-grid.html">Invoices Grid</a></li>
									<li><a href="add-invoice.html">Add Invoices</a></li>
									<li><a href="edit-invoice.html">Edit Invoices</a></li>
									<li><a href="view-invoice.html">Invoices Details</a></li>
									<li><a href="invoices-settings.html">Invoices Settings</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Management</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="fees-collections.html">Fees Collection</a></li>
									<li><a href="expenses.html">Expenses</a></li>
									<li><a href="salary.html">Salary</a></li>
									<li><a href="add-fees-collection.html">Add Fees</a></li>
									<li><a href="add-expenses.html">Add Expenses</a></li>
									<li><a href="add-salary.html">Add Salary</a></li>
								</ul>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
							</li>
							<li> 
								<a href="index.html"><i class="fas fa-book"></i> <span>Library</span></a>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fa fa-newspaper"></i> <span> Blogs</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="blog.html">All Blogs</a></li>
                                    <li><a href="add-blog.html">Add Blog</a></li>
                                    <li><a href="edit-blog.html">Edit Blog</a></li>
                                    
                                </ul>
                            </li>
							<li> 
								<a href="settings.html"><i class="fas fa-cog"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>

							<li class="submenu">
								<a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
									<li><a href="error-404.html">Error Page</a></li>
								</ul>
							</li>
							<li> 
								<a href="blank-page.html"><i class="fas fa-file"></i> <span>Blank Page</span></a>
							</li>

							<li class="menu-title"> 
								<span>Others</span>
							</li>

							<li> 
								<a href="sports.html"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
							</li>
							<li> 
								<a href="hostel.html"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
							</li>
							<li> 
								<a href="transport.html"><i class="fas fa-bus"></i> <span>Transport</span></a>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li class="submenu">
                                <a href="#"><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="alerts.html">Alerts</a></li>                                    
                                    <li><a href="accordions.html">Accordions</a></li>
                                    <li><a href="avatar.html">Avatar</a></li> 
                                    <li><a href="badges.html">Badges</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>   
                                    <li><a href="buttongroup.html">Button Group</a></li>                                  
                                    <li><a href="breadcrumbs.html">Breadcrumb</a></li>
                                    <li><a href="cards.html">Cards</a></li>
                                    <li><a href="carousel.html">Carousel</a></li>                                   
                                    <li><a href="dropdowns.html">Dropdowns</a></li>
                                    <li><a href="grid.html">Grid</a></li>
                                    <li><a href="images.html">Images</a></li>
                                    <li><a href="lightbox.html">Lightbox</a></li>
                                    <li><a href="media.html">Media</a></li>                              
                                    <li><a href="modal.html">Modals</a></li>
                                    <li><a href="offcanvas.html">Offcanvas</a></li>
                                    <li><a href="pagination.html">Pagination</a></li>
                                    <li><a href="popover.html">Popover</a></li>                                    
                                    <li><a href="progress.html">Progress Bars</a></li>
                                    <li><a href="placeholders.html">Placeholders</a></li>
                                    <li><a href="rangeslider.html">Range Slider</a></li>                                    
                                    <li><a href="spinners.html">Spinner</a></li>
                                    <li><a href="sweetalerts.html">Sweet Alerts</a></li>
                                    <li><a href="tab.html">Tabs</a></li>
                                    <li><a href="toastr.html">Toasts</a></li>
                                    <li><a href="tooltip.html">Tooltip</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="video.html">Video</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i data-feather="box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="ribbon.html">Ribbon</a></li>
                                    <li><a href="clipboard.html">Clipboard</a></li>
                                    <li><a href="drag-drop.html">Drag & Drop</a></li>
                                    <li><a href="rating.html">Rating</a></li>
                                    <li><a href="text-editor.html">Text Editor</a></li>
                                    <li><a href="counter.html">Counter</a></li>
                                    <li><a href="scrollbar.html">Scrollbar</a></li>
                                    <li><a href="notification.html">Notification</a></li>
                                    <li><a href="stickynote.html">Sticky Note</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>
                                    <li><a href="form-wizard.html">Form Wizard</a></li>
                                </ul>
                            </li>
							<li class="submenu">
								<a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="chart-apex.html">Apex Charts</a></li>
									<li><a href="chart-js.html">Chart Js</a></li>
									<li><a href="chart-morris.html">Morris Charts</a></li>
									<li><a href="chart-flot.html">Flot Charts</a></li>
									<li><a href="chart-peity.html">Peity Charts</a></li>
									<li><a href="chart-c3.html">C3 Charts</a></li>
								</ul>
							</li>
							<li class="submenu active">
								<a href="#"><i data-feather="award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>
									<li><a href="icon-feather.html">Feather Icons</a></li>
									<li><a href="icon-ionic.html">Ionic Icons</a></li>
									<li><a href="icon-material.html">Material Icons</a></li>
									<li><a href="icon-pe7.html">Pe7 Icons</a></li>
									<li><a href="icon-simpleline.html">Simpleline Icons</a></li>
									<li><a href="icon-themify.html" class="active">Themify Icons</a></li>
									<li><a href="icon-weather.html">Weather Icons</a></li>
									<li><a href="icon-typicon.html">Typicon Icons</a></li>
									<li><a href="icon-flag.html">Flag Icons</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="form-basic-inputs.html" >Basic Inputs </a></li>
									<li><a href="form-input-groups.html">Input Groups </a></li>
									<li><a href="form-horizontal.html">Horizontal Form </a></li>
									<li><a href="form-vertical.html"> Vertical Form </a></li>
									<li><a href="form-mask.html"> Form Mask </a></li>
									<li><a href="form-validation.html"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="tables-basic.html">Basic Tables </a></li>
									<li><a href="data-tables.html">Data Table </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul>
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul>
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Themify Icon</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Components</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
					
						<!-- Chart -->
						<div class="col-md-12">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">Themify Icon</div>
								</div>
								<div class="card-body">
									<div class="icons-items">
										<ul class="icons-list">
											<li><i class="ti-arrow-up" data-bs-toggle="tooltip" title="ti-arrow-up"></i></li>
											<li><i class="ti-arrow-right" data-bs-toggle="tooltip" title="ti-arrow-right"></i></li>
											<li><i class="ti-arrow-left" data-bs-toggle="tooltip" title="ti-arrow-left"></i></li>
											<li><i class="ti-arrow-down" data-bs-toggle="tooltip" title="ti-arrow-down"></i></li>
											<li><i class="ti-arrows-vertical" data-bs-toggle="tooltip" title="ti-arrows-vertical"></i></li>
											<li><i class="ti-arrows-horizontal" data-bs-toggle="tooltip" title="ti-arrows-horizontal"></i></li>
											<li><i class="ti-angle-up" data-bs-toggle="tooltip" title="ti-angle-up"></i></li>
											<li><i class="ti-angle-right" data-bs-toggle="tooltip" title="ti-angle-right"></i></li>
											<li><i class="ti-angle-left" data-bs-toggle="tooltip" title="ti-angle-left"></i></li>
											<li><i class="ti-angle-down" data-bs-toggle="tooltip" title="ti-angle-down"></i></li>
											<li><i class="ti-angle-double-up" data-bs-toggle="tooltip" title="ti-angle-double-up"></i></li>
											<li><i class="ti-angle-double-right" data-bs-toggle="tooltip" title="ti-angle-double-right"></i></li>
											<li><i class="ti-angle-double-left" data-bs-toggle="tooltip" title="ti-angle-double-left"></i></li>
											<li><i class="ti-angle-double-down" data-bs-toggle="tooltip" title="ti-angle-double-down"></i></li>
											<li><i class="ti-move" data-bs-toggle="tooltip" title="ti-move"></i></li>
											<li><i class="ti-fullscreen" data-bs-toggle="tooltip" title="ti-fullscreen"></i></li>
											<li><i class="ti-arrow-top-right" data-bs-toggle="tooltip" title="ti-arrow-top-right"></i></li>
											<li><i class="ti-arrow-top-left" data-bs-toggle="tooltip" title="ti-arrow-top-left"></i></li>
											<li><i class="ti-arrow-circle-up" data-bs-toggle="tooltip" title="ti-arrow-circle-up"></i></li>
											<li><i class="ti-arrow-circle-right" data-bs-toggle="tooltip" title="ti-arrow-circle-right"></i></li>
											<li><i class="ti-arrow-circle-left" data-bs-toggle="tooltip" title="ti-arrow-circle-left"></i></li>
											<li><i class="ti-arrow-circle-down" data-bs-toggle="tooltip" title="ti-arrow-circle-down"></i></li>
											<li><i class="ti-arrows-corner" data-bs-toggle="tooltip" title="ti-arrows-corner"></i></li>
											<li><i class="ti-split-v" data-bs-toggle="tooltip" title="ti-split-v"></i></li>
											<li><i class="ti-split-v-alt" data-bs-toggle="tooltip" title="ti-split-v-alt"></i></li>
											<li><i class="ti-split-h" data-bs-toggle="tooltip" title="ti-split-h"></i></li>
											<li><i class="ti-hand-point-up" data-bs-toggle="tooltip" title="ti-hand-point-up"></i></li>
											<li><i class="ti-hand-point-right" data-bs-toggle="tooltip" title="ti-hand-point-right"></i></li>
											<li><i class="ti-hand-point-left" data-bs-toggle="tooltip" title="ti-hand-point-left"></i></li>
											<li><i class="ti-hand-point-down" data-bs-toggle="tooltip" title="ti-hand-point-down"></i></li>
											<li><i class="ti-back-right" data-bs-toggle="tooltip" title="ti-back-right"></i></li>
											<li><i class="ti-back-left" data-bs-toggle="tooltip" title="ti-back-left"></i></li>
											<li><i class="ti-exchange-vertical" data-bs-toggle="tooltip" title="ti-exchange-vertical"></i></li>
											<li><i class="ti-wand" data-bs-toggle="tooltip" title="ti-wand"></i></li>
											<li><i class="ti-save" data-bs-toggle="tooltip" title="ti-save"></i></li>
											<li><i class="ti-save-alt" data-bs-toggle="tooltip" title="ti-save-alt"></i></li>
											<li><i class="ti-direction" data-bs-toggle="tooltip" title="ti-direction"></i></li>
											<li><i class="ti-direction-alt" data-bs-toggle="tooltip" title="ti-direction-alt"></i></li>
											<li><i class="ti-user" data-bs-toggle="tooltip" title="ti-user"></i></li>
											<li><i class="ti-link" data-bs-toggle="tooltip" title="ti-link"></i></li>
											<li><i class="ti-unlink" data-bs-toggle="tooltip" title="ti-unlink"></i></li>
											<li><i class="ti-trash" data-bs-toggle="tooltip" title="ti-trash"></i></li>
											<li><i class="ti-target" data-bs-toggle="tooltip" title="ti-target"></i></li>
											<li><i class="ti-tag" data-bs-toggle="tooltip" title="ti-tag"></i></li>
											<li><i class="ti-desktop" data-bs-toggle="tooltip" title="ti-desktop"></i></li>
											<li><i class="ti-tablet" data-bs-toggle="tooltip" title="ti-tablet"></i></li>
											<li><i class="ti-mobile" data-bs-toggle="tooltip" title="ti-mobile"></i></li>
											<li><i class="ti-email" data-bs-toggle="tooltip" title="ti-email"></i></li>
											<li><i class="ti-star" data-bs-toggle="tooltip" title="ti-star"></i></li>
											<li><i class="ti-spray" data-bs-toggle="tooltip" title="ti-spray"></i></li>
											<li><i class="ti-signal" data-bs-toggle="tooltip" title="ti-signal"></i></li>
											<li><i class="ti-shopping-cart" data-bs-toggle="tooltip" title="ti-shopping-cart"></i></li>
											<li><i class="ti-shopping-cart-full" data-bs-toggle="tooltip" title="ti-shopping-cart-full"></i></li>
											<li><i class="ti-settings" data-bs-toggle="tooltip" title="ti-settings"></i></li>
											<li><i class="ti-search" data-bs-toggle="tooltip" title="ti-search"></i></li>
											<li><i class="ti-zoom-in" data-bs-toggle="tooltip" title="ti-zoom-in"></i></li>
											<li><i class="ti-zoom-out" data-bs-toggle="tooltip" title="ti-zoom-out"></i></li>
											<li><i class="ti-cut" data-bs-toggle="tooltip" title="ti-cut"></i></li>
											<li><i class="ti-ruler" data-bs-toggle="tooltip" title="ti-ruler"></i></li>
											<li><i class="ti-ruler-alt-2" data-bs-toggle="tooltip" title="ti-ruler-alt-2"></i></li>
											<li><i class="ti-ruler-pencil" data-bs-toggle="tooltip" title="ti-ruler-pencil"></i></li>
											<li><i class="ti-ruler-alt" data-bs-toggle="tooltip" title="ti-ruler-alt"></i></li>
											<li><i class="ti-bookmark" data-bs-toggle="tooltip" title="ti-bookmark"></i></li>
											<li><i class="ti-bookmark-alt" data-bs-toggle="tooltip" title="ti-bookmark-alt"></i></li>
											<li><i class="ti-reload" data-bs-toggle="tooltip" title="ti-reload"></i></li>
											<li><i class="ti-plus" data-bs-toggle="tooltip" title="ti-plus"></i></li>
											<li><i class="ti-minus" data-bs-toggle="tooltip" title="ti-minus"></i></li>
											<li><i class="ti-close" data-bs-toggle="tooltip" title="ti-close"></i></li>
											<li><i class="ti-pin" data-bs-toggle="tooltip" title="ti-pin"></i></li>
											<li><i class="ti-pencil" data-bs-toggle="tooltip" title="ti-pencil"></i></li>
											<li><i class="ti-pencil-alt" data-bs-toggle="tooltip" title="ti-pencil-alt"></i></li>
											<li><i class="ti-paint-roller" data-bs-toggle="tooltip" title="ti-paint-roller"></i></li>
											<li><i class="ti-paint-bucket" data-bs-toggle="tooltip" title="ti-paint-bucket"></i></li>
											<li><i class="ti-na" data-bs-toggle="tooltip" title="ti-na"></i></li>
											<li><i class="ti-medall" data-bs-toggle="tooltip" title="ti-medall"></i></li>
											<li><i class="ti-medall-alt" data-bs-toggle="tooltip" title="ti-medall-alt"></i></li>
											<li><i class="ti-marker" data-bs-toggle="tooltip" title="ti-marker"></i></li>
											<li><i class="ti-marker-alt" data-bs-toggle="tooltip" title="ti-marker-alt"></i></li>
											<li><i class="ti-lock" data-bs-toggle="tooltip" title="ti-lock"></i></li>
											<li><i class="ti-unlock" data-bs-toggle="tooltip" title="ti-unlock"></i></li>
											<li><i class="ti-location-arrow" data-bs-toggle="tooltip" title="ti-location-arrow"></i></li>
											<li><i class="ti-layout" data-bs-toggle="tooltip" title="ti-layout"></i></li>
											<li><i class="ti-layers" data-bs-toggle="tooltip" title="ti-layers"></i></li>
											<li><i class="ti-layers-alt" data-bs-toggle="tooltip" title="ti-layers-alt"></i></li>
											<li><i class="ti-key" data-bs-toggle="tooltip" title="ti-key"></i></li>
											<li><i class="ti-image" data-bs-toggle="tooltip" title="ti-image"></i></li>
											<li><i class="ti-heart" data-bs-toggle="tooltip" title="ti-heart"></i></li>
											<li><i class="ti-heart-broken" data-bs-toggle="tooltip" title="ti-heart-broken"></i></li>
											<li><i class="ti-hand-stop" data-bs-toggle="tooltip" title="ti-hand-stop"></i></li>
											<li><i class="ti-hand-open" data-bs-toggle="tooltip" title="ti-hand-open"></i></li>
											<li><i class="ti-hand-drag" data-bs-toggle="tooltip" title="ti-hand-drag"></i></li>
											<li><i class="ti-flag" data-bs-toggle="tooltip" title="ti-flag"></i></li>
											<li><i class="ti-flag-alt" data-bs-toggle="tooltip" title="ti-flag-alt"></i></li>
											<li><i class="ti-flag-alt-2" data-bs-toggle="tooltip" title="ti-flag-alt-2"></i></li>
											<li><i class="ti-eye" data-bs-toggle="tooltip" title="ti-eye"></i></li>
											<li><i class="ti-import" data-bs-toggle="tooltip" title="ti-import"></i></li>
											<li><i class="ti-export" data-bs-toggle="tooltip" title="ti-export"></i></li>
											<li><i class="ti-cup" data-bs-toggle="tooltip" title="ti-cup"></i></li>
											<li><i class="ti-crown" data-bs-toggle="tooltip" title="ti-crown"></i></li>
											<li><i class="ti-comments" data-bs-toggle="tooltip" title="ti-comments"></i></li>
											<li><i class="ti-comment" data-bs-toggle="tooltip" title="ti-comment"></i></li>
											<li><i class="ti-comment-alt" data-bs-toggle="tooltip" title="ti-comment-alt"></i></li>
											<li><i class="ti-thought" data-bs-toggle="tooltip" title="ti-thought"></i></li>
											<li><i class="ti-clip" data-bs-toggle="tooltip" title="ti-clip"></i></li>
											<li><i class="ti-check" data-bs-toggle="tooltip" title="ti-check"></i></li>
											<li><i class="ti-check-box" data-bs-toggle="tooltip" title="ti-check-box"></i></li>
											<li><i class="ti-camera" data-bs-toggle="tooltip" title="ti-camera"></i></li>
											<li><i class="ti-announcement" data-bs-toggle="tooltip" title="ti-announcement"></i></li>
											<li><i class="ti-brush" data-bs-toggle="tooltip" title="ti-brush"></i></li>
											<li><i class="ti-brush-alt" data-bs-toggle="tooltip" title="ti-brush-alt"></i></li>
											<li><i class="ti-palette" data-bs-toggle="tooltip" title="ti-palette"></i></li>
											<li><i class="ti-briefcase" data-bs-toggle="tooltip" title="ti-briefcase"></i></li>
											<li><i class="ti-bolt" data-bs-toggle="tooltip" title="ti-bolt"></i></li>
											<li><i class="ti-bolt-alt" data-bs-toggle="tooltip" title="ti-bolt-alt"></i></li>
											<li><i class="ti-blackboard" data-bs-toggle="tooltip" title="ti-blackboard"></i></li>
											<li><i class="ti-bag" data-bs-toggle="tooltip" title="ti-bag"></i></li>
											<li><i class="ti-world" data-bs-toggle="tooltip" title="ti-world"></i></li>
											<li><i class="ti-wheelchair" data-bs-toggle="tooltip" title="ti-wheelchair"></i></li>
											<li><i class="ti-car" data-bs-toggle="tooltip" title="ti-car"></i></li>
											<li><i class="ti-truck" data-bs-toggle="tooltip" title="ti-truck"></i></li>
											<li><i class="ti-timer" data-bs-toggle="tooltip" title="ti-timer"></i></li>
											<li><i class="ti-ticket" data-bs-toggle="tooltip" title="ti-ticket"></i></li>
											<li><i class="ti-thumb-up" data-bs-toggle="tooltip" title="ti-thumb-up"></i></li>
											<li><i class="ti-thumb-down" data-bs-toggle="tooltip" title="ti-thumb-down"></i></li>
											<li><i class="ti-stats-up" data-bs-toggle="tooltip" title="ti-stats-up"></i></li>
											<li><i class="ti-stats-down" data-bs-toggle="tooltip" title="ti-stats-down"></i></li>
											<li><i class="ti-shine" data-bs-toggle="tooltip" title="ti-shine"></i></li>
											<li><i class="ti-shift-right" data-bs-toggle="tooltip" title="ti-shift-right"></i></li>
											<li><i class="ti-shift-left" data-bs-toggle="tooltip" title="ti-shift-left"></i></li>
											<li><i class="ti-shift-right-alt" data-bs-toggle="tooltip" title="ti-shift-right-alt"></i></li>
											<li><i class="ti-shift-left-alt" data-bs-toggle="tooltip" title="ti-shift-left-alt"></i></li>
											<li><i class="ti-shield" data-bs-toggle="tooltip" title="ti-shield"></i></li>
											<li><i class="ti-notepad" data-bs-toggle="tooltip" title="ti-notepad"></i></li>
											<li><i class="ti-server" data-bs-toggle="tooltip" title="ti-server"></i></li>
											<li><i class="ti-pulse" data-bs-toggle="tooltip" title="ti-pulse"></i></li>
											<li><i class="ti-printer" data-bs-toggle="tooltip" title="ti-printer"></i></li>
											<li><i class="ti-power-off" data-bs-toggle="tooltip" title="ti-power-off"></i></li>
											<li><i class="ti-plug" data-bs-toggle="tooltip" title="ti-plug"></i></li>
											<li><i class="ti-pie-chart" data-bs-toggle="tooltip" title="ti-pie-chart"></i></li>
											<li><i class="ti-panel" data-bs-toggle="tooltip" title="ti-panel"></i></li>
											<li><i class="ti-package" data-bs-toggle="tooltip" title="ti-package"></i></li>
											<li><i class="ti-music" data-bs-toggle="tooltip" title="ti-music"></i></li>
											<li><i class="ti-music-alt" data-bs-toggle="tooltip" title="ti-music-alt"></i></li>
											<li><i class="ti-mouse" data-bs-toggle="tooltip" title="ti-mouse"></i></li>
											<li><i class="ti-mouse-alt" data-bs-toggle="tooltip" title="ti-mouse-alt"></i></li>
											<li><i class="ti-money" data-bs-toggle="tooltip" title="ti-money"></i></li>
											<li><i class="ti-microphone" data-bs-toggle="tooltip" title="ti-microphone"></i></li>
											<li><i class="ti-menu" data-bs-toggle="tooltip" title="ti-menu"></i></li>
											<li><i class="ti-menu-alt" data-bs-toggle="tooltip" title="ti-menu-alt"></i></li>
											<li><i class="ti-map" data-bs-toggle="tooltip" title="ti-map"></i></li>
											<li><i class="ti-map-alt" data-bs-toggle="tooltip" title="ti-map-alt"></i></li>
											<li><i class="ti-location-pin" data-bs-toggle="tooltip" title="ti-location-pin"></i></li>
											<li><i class="ti-light-bulb" data-bs-toggle="tooltip" title="ti-light-bulb"></i></li>
											<li><i class="ti-info" data-bs-toggle="tooltip" title="ti-info"></i></li>
											<li><i class="ti-infinite" data-bs-toggle="tooltip" title="ti-infinite"></i></li>
											<li><i class="ti-id-badge" data-bs-toggle="tooltip" title="ti-id-badge"></i></li>
											<li><i class="ti-hummer" data-bs-toggle="tooltip" title="ti-hummer"></i></li>
											<li><i class="ti-home" data-bs-toggle="tooltip" title="ti-home"></i></li>
											<li><i class="ti-help" data-bs-toggle="tooltip" title="ti-help"></i></li>
											<li><i class="ti-headphone" data-bs-toggle="tooltip" title="ti-headphone"></i></li>
											<li><i class="ti-harddrives" data-bs-toggle="tooltip" title="ti-harddrives"></i></li>
											<li><i class="ti-harddrive" data-bs-toggle="tooltip" title="ti-harddrive"></i></li>
											<li><i class="ti-gift" data-bs-toggle="tooltip" title="ti-gift"></i></li>
											<li><i class="ti-game" data-bs-toggle="tooltip" title="ti-game"></i></li>
											<li><i class="ti-filter" data-bs-toggle="tooltip" title="ti-filter"></i></li>
											<li><i class="ti-files" data-bs-toggle="tooltip" title="ti-files"></i></li>
											<li><i class="ti-file" data-bs-toggle="tooltip" title="ti-file"></i></li>
											<li><i class="ti-zip" data-bs-toggle="tooltip" title="ti-zip"></i></li>
											<li><i class="ti-folder" data-bs-toggle="tooltip" title="ti-folder"></i></li>
											<li><i class="ti-envelope" data-bs-toggle="tooltip" title="ti-envelope"></i></li>
											<li><i class="ti-dashboard" data-bs-toggle="tooltip" title="ti-dashboard"></i></li>
											<li><i class="ti-cloud" data-bs-toggle="tooltip" title="ti-cloud"></i></li>
											<li><i class="ti-cloud-up" data-bs-toggle="tooltip" title="ti-cloud-up"></i></li>
											<li><i class="ti-cloud-down" data-bs-toggle="tooltip" title="ti-cloud-down"></i></li>
											<li><i class="ti-clipboard" data-bs-toggle="tooltip" title="ti-clipboard"></i></li>
											<li><i class="ti-calendar" data-bs-toggle="tooltip" title="ti-calendar"></i></li>
											<li><i class="ti-book" data-bs-toggle="tooltip" title="ti-book"></i></li>
											<li><i class="ti-bell" data-bs-toggle="tooltip" title="ti-bell"></i></li>
											<li><i class="ti-basketball" data-bs-toggle="tooltip" title="ti-basketball"></i></li>
											<li><i class="ti-bar-chart" data-bs-toggle="tooltip" title="ti-bar-chart"></i></li>
											<li><i class="ti-bar-chart-alt" data-bs-toggle="tooltip" title="ti-bar-chart-alt"></i></li>
											<li><i class="ti-archive" data-bs-toggle="tooltip" title="ti-archive"></i></li>
											<li><i class="ti-anchor" data-bs-toggle="tooltip" title="ti-anchor"></i></li>
											<li><i class="ti-alert" data-bs-toggle="tooltip" title="ti-alert"></i></li>
											<li><i class="ti-alarm-clock" data-bs-toggle="tooltip" title="ti-alarm-clock"></i></li>
											<li><i class="ti-agenda" data-bs-toggle="tooltip" title="ti-agenda"></i></li>
											<li><i class="ti-write" data-bs-toggle="tooltip" title="ti-write"></i></li>
											<li><i class="ti-wallet" data-bs-toggle="tooltip" title="ti-wallet"></i></li>
											<li><i class="ti-video-clapper" data-bs-toggle="tooltip" title="ti-video-clapper"></i></li>
											<li><i class="ti-video-camera" data-bs-toggle="tooltip" title="ti-video-camera"></i></li>
											<li><i class="ti-vector" data-bs-toggle="tooltip" title="ti-vector"></i></li>
											<li><i class="ti-support" data-bs-toggle="tooltip" title="ti-support"></i></li>
											<li><i class="ti-stamp" data-bs-toggle="tooltip" title="ti-stamp"></i></li>
											<li><i class="ti-slice" data-bs-toggle="tooltip" title="ti-slice"></i></li>
											<li><i class="ti-shortcode" data-bs-toggle="tooltip" title="ti-shortcode"></i></li>
											<li><i class="ti-receipt" data-bs-toggle="tooltip" title="ti-receipt"></i></li>
											<li><i class="ti-pin2" data-bs-toggle="tooltip" title="ti-pin2"></i></li>
											<li><i class="ti-pin-alt" data-bs-toggle="tooltip" title="ti-pin-alt"></i></li>
											<li><i class="ti-pencil-alt2" data-bs-toggle="tooltip" title="ti-pencil-alt2"></i></li>
											<li><i class="ti-eraser" data-bs-toggle="tooltip" title="ti-eraser"></i></li>
											<li><i class="ti-more" data-bs-toggle="tooltip" title="ti-more"></i></li>
											<li><i class="ti-more-alt" data-bs-toggle="tooltip" title="ti-more-alt"></i></li>
											<li><i class="ti-microphone-alt" data-bs-toggle="tooltip" title="ti-microphone-alt"></i></li>
											<li><i class="ti-magnet" data-bs-toggle="tooltip" title="ti-magnet"></i></li>
											<li><i class="ti-line-double" data-bs-toggle="tooltip" title="ti-line-double"></i></li>
											<li><i class="ti-line-dotted" data-bs-toggle="tooltip" title="ti-line-dotted"></i></li>
											<li><i class="ti-line-dashed" data-bs-toggle="tooltip" title="ti-line-dashed"></i></li>
											<li><i class="ti-ink-pen" data-bs-toggle="tooltip" title="ti-ink-pen"></i></li>
											<li><i class="ti-info-alt" data-bs-toggle="tooltip" title="ti-info-alt"></i></li>
											<li><i class="ti-help-alt" data-bs-toggle="tooltip" title="ti-help-alt"></i></li>
											<li><i class="ti-headphone-alt" data-bs-toggle="tooltip" title="ti-headphone-alt"></i></li>
											<li><i class="ti-gallery" data-bs-toggle="tooltip" title="ti-gallery"></i></li>
											<li><i class="ti-face-smile" data-bs-toggle="tooltip" title="ti-face-smile"></i></li>
											<li><i class="ti-face-sad" data-bs-toggle="tooltip" title="ti-face-sad"></i></li>
											<li><i class="ti-credit-card" data-bs-toggle="tooltip" title="ti-credit-card"></i></li>
											<li><i class="ti-comments-smiley" data-bs-toggle="tooltip" title="ti-comments-smiley"></i></li>
											<li><i class="ti-time" data-bs-toggle="tooltip" title="ti-time"></i></li>
											<li><i class="ti-share" data-bs-toggle="tooltip" title="ti-share"></i></li>
											<li><i class="ti-share-alt" data-bs-toggle="tooltip" title="ti-share-alt"></i></li>
											<li><i class="ti-rocket" data-bs-toggle="tooltip" title="ti-rocket"></i></li>
											<li><i class="ti-new-window" data-bs-toggle="tooltip" title="ti-new-window"></i></li>
											<li><i class="ti-rss" data-bs-toggle="tooltip" title="ti-rss"></i></li>
											<li><i class="ti-rss-alt" data-bs-toggle="tooltip" title="ti-rss-alt"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Chart -->
						
					</div>
				
				</div>
			
				<!-- Footer -->
				<footer>
					<p>Copyright © 2022 Dreamguys.</p>					
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
        <script src="assets/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html>