<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main Menu</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/index">Admin Dashboard</a></li>
                        
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-users" aria-hidden="true"></i> <span> Users</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/user" class="submenu-link">User List</a></li>
                        <!-- <li><a href="/user-details">User View</a></li> -->
                        <li><a href="/add-user" class="submenu-link">User Add</a></li>
                        <!-- <li><a href="/cardlist">Card Users List</a></li> -->
                        <!-- <li><a href="/user-edit">User Edit</a></li> -->
                    </ul>
                </li>
                <li class="submenu" active>
                    <a href="#">
                        <i class="fa fa-credit-card"></i><span> Subscription</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/subscription" class="submenu-link">Subscription List</a></li>
                        <!-- <li><a href="teacher-details.ejs">Subscription View</a></li> -->
                        <li><a href="/add-subscription" class="submenu-link">Subscription Add</a></li>
                        <!-- <li><a href="/edit-subscription">Subscription Edit</a></li> -->
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span>Company</span> <span class="menu-arrow"></span></a>
                    <ul>
                       
                        
                        <li><a href="/companies-list">Company List </a></li>
                        
                        <li><a href="/employee-list">Employee-List</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span>Pages</span> <span class="menu-arrow"></span></a>
                    <ul>
                       
                        
                        <li><a href="/invitations">Invitations </a></li>
                        
                        <li><a href="/custompages">Custom pages</a></li>
                    </ul>
                </li>
                
                <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="subjects.ejs">Subject List</a></li>
                        <li><a href="add-subject.ejs">Subject Add</a></li>
                        <li><a href="edit-subject.ejs">Subject Edit</a></li>
                    </ul>
                </li> -->
            
                                                                                          
                    <!-- <a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="login.ejs">Login</a></li>
                        <li><a href="register.ejs">Register</a></li>
                        <li><a href="forgot-password.ejs">Forgot Password</a></li>
                        <li><a href="error-404.ejs">Error Page</a></li>
                    </ul>
                </li> -->
                <!-- <li> 
                    <a href="blank-page.ejs"><i class="fas fa-file"></i> <span>Blank Page</span></a>
                </li> -->

                <!-- <li class="menu-title"> 
                    <span>Others</span>
                </li>

                <li> 
                    <a href="sports.ejs"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
                </li>
                <li> 
                    <a href="hostel.ejs"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
                </li>
                <li> 
                    <a href="transport.ejs"><i class="fas fa-bus"></i> <span>Transport</span></a>
                </li>
                <li class="menu-title"> 
                    <span>UI Interface</span>
                </li> -->
                <!-- <li class="submenu active">
                    <a href="#"><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="alerts.ejs">Alerts</a></li>                                    
                        <li><a href="accordions.ejs" class="active">Accordions</a></li>
                        <li><a href="avatar.ejs">Avatar</a></li> 
                        <li><a href="badges.ejs">Badges</a></li>
                        <li><a href="buttons.ejs">Buttons</a></li>   
                        <li><a href="buttongroup.ejs">Button Group</a></li>                                  
                        <li><a href="breadcrumbs.ejs">Breadcrumb</a></li>
                        <li><a href="cards.ejs">Cards</a></li>
                        <li><a href="carousel.ejs">Carousel</a></li>                                   
                        <li><a href="dropdowns.ejs">Dropdowns</a></li>
                        <li><a href="grid.ejs">Grid</a></li>
                        <li><a href="images.ejs">Images</a></li>
                        <li><a href="lightbox.ejs">Lightbox</a></li>
                        <li><a href="media.ejs">Media</a></li>                              
                        <li><a href="modal.ejs">Modals</a></li>
                        <li><a href="offcanvas.ejs">Offcanvas</a></li>
                        <li><a href="pagination.ejs">Pagination</a></li>
                        <li><a href="popover.ejs">Popover</a></li>                                    
                        <li><a href="progress.ejs">Progress Bars</a></li>
                        <li><a href="placeholders.ejs">Placeholders</a></li>
                        <li><a href="rangeslider.ejs">Range Slider</a></li>                                    
                        <li><a href="spinners.ejs">Spinner</a></li>
                        <li><a href="sweetalerts.ejs">Sweet Alerts</a></li>
                        <li><a href="tab.ejs">Tabs</a></li>
                        <li><a href="toastr.ejs">Toasts</a></li>
                        <li><a href="tooltip.ejs">Tooltip</a></li>
                        <li><a href="typography.ejs">Typography</a></li>
                        <li><a href="video.ejs">Video</a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="#"><i data-feather="box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="ribbon.ejs">Ribbon</a></li>
                        <li><a href="clipboard.ejs">Clipboard</a></li>
                        <li><a href="drag-drop.ejs">Drag & Drop</a></li>
                        <li><a href="rating.ejs">Rating</a></li>
                        <li><a href="text-editor.ejs">Text Editor</a></li>
                        <li><a href="counter.ejs">Counter</a></li>
                        <li><a href="scrollbar.ejs">Scrollbar</a></li>
                        <li><a href="notification.ejs">Notification</a></li>
                        <li><a href="stickynote.ejs">Sticky Note</a></li>
                        <li><a href="timeline.ejs">Timeline</a></li>
                        <li><a href="horizontal-timeline.ejs">Horizontal Timeline</a></li>
                        <li><a href="form-wizard.ejs">Form Wizard</a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="chart-apex.ejs">Apex Charts</a></li>
                        <li><a href="chart-js.ejs">Chart Js</a></li>
                        <li><a href="chart-morris.ejs">Morris Charts</a></li>
                        <li><a href="chart-flot.ejs">Flot Charts</a></li>
                        <li><a href="chart-peity.ejs">Peity Charts</a></li>
                        <li><a href="chart-c3.ejs">C3 Charts</a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="#"><i data-feather="award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="icon-fontawesome.ejs">Fontawesome Icons</a></li>
                        <li><a href="icon-feather.ejs">Feather Icons</a></li>
                        <li><a href="icon-ionic.ejs">Ionic Icons</a></li>
                        <li><a href="icon-material.ejs">Material Icons</a></li>
                        <li><a href="icon-pe7.ejs">Pe7 Icons</a></li>
                        <li><a href="icon-simpleline.ejs">Simpleline Icons</a></li>
                        <li><a href="icon-themify.ejs">Themify Icons</a></li>
                        <li><a href="icon-weather.ejs">Weather Icons</a></li>
                        <li><a href="icon-typicon.ejs">Typicon Icons</a></li>
                        <li><a href="icon-flag.ejs">Flag Icons</a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="form-basic-inputs.ejs" >Basic Inputs </a></li>
                        <li><a href="form-input-groups.ejs">Input Groups </a></li>
                        <li><a href="form-horizontal.ejs">Horizontal Form </a></li>
                        <li><a href="form-vertical.ejs"> Vertical Form </a></li>
                        <li><a href="form-mask.ejs"> Form Mask </a></li>
                        <li><a href="form-validation.ejs"> Form Validation </a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="tables-basic.ejs">Basic Tables </a></li>
                        <li><a href="data-tables.ejs">Data Table </a></li>
                    </ul>
                </li> -->
                <!-- <li class="submenu">
                    <a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                <li class="submenu">
                                    <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="javascript:void(0);">Level 3</a></li>
                                        <li><a href="javascript:void(0);">Level 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"> <span>Level 1</span></a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        // Prevent default behavior and stop event propagation
        $('.submenu-link').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            // Add any additional logic here if needed

            // Redirect manually if needed
            window.location.href = $(this).attr('href');
        });

        // Optionally, close the submenu on clicking outside of it
        $(document).on('click', function () {
            $('.submenu ul').slideUp();
        });

        // Keep the submenu open when clicking on it
        $('.submenu').on('click', function (e) {
            e.stopPropagation(); // Prevent closing when clicking inside the submenu
            $(this).find('ul').slideToggle();
        });
    });
</script> <script>
    $(document).ready(function () {
        // Prevent default behavior and stop event propagation
        $('.submenu-link').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            // Add any additional logic here if needed

            // Redirect manually if needed
            window.location.href = $(this).attr('href');
        });

        // Optionally, close the submenu on clicking outside of it
        $(document).on('click', function () {
            $('.submenu ul').slideUp();
        });

        // Keep the submenu open when clicking on it
        $('.submenu').on('click', function (e) {
            e.stopPropagation(); // Prevent closing when clicking inside the submenu
            $(this).find('ul').slideToggle();
        });
    });
</script>
