<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">
		
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/public/assets/admin/css/style.css">
    </head>
    <body>
		
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.ejs" class="logo">
						<img src="/public/assets/admin/img/logo.png" alt="Logo">
					</a>
					<a href="index.ejs" class="logo logo-small">
						<img src="/public/assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<div class="menu-toggle">
					<a href="javascript:void(0);" id="toggle_btn">
						<i class="fas fa-bars"></i>
					</a>
				</div>
				
				<!-- Search Bar -->
				<!--<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>-->
				<!-- /Search Bar -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					<li  class="nav-item dropdown language-drop me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="/public/assets/admin/img/icons/header-icon-01.svg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
							<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
						</div>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown me-2">
						<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
							<img src="/public/assets/admin/img/icons/header-icon-05.svg" alt="">
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-11.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-17.jpg">
												</span>
												<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="/public/assets/admin/img/profiles/avatar-13.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					<li  class="nav-item zoom-screen me-2">
						<a href="#" class="nav-link header-nav-list">
							<img src="/public/assets/admin/img/icons/header-icon-04.svg" alt="">
						</a>
					</li>
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow new-user-menus">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="/public/assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="/public/assets/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.ejs">My Profile</a>
							<a class="dropdown-item" href="inbox.ejs">Inbox</a>
							<a class="dropdown-item" href="login.ejs">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
				<%- include('sidebar.ejs'); %>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">subscription plan</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.ejs">Dashboard</a></li>
									<li class="breadcrumb-item active">subscription plan</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="student-group-form">
						<div class="row">
							<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by ID or NAME">
								</div>
							</div>
							<!--<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Name ...">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Phone ...">
								</div>
							</div>-->
							<div class="col-lg-2">  
								<div class="search-student-btn">
									<button type="btn" class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12">
						
							<div class="card card-table">
								<div class="card-body">
								
									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">subscription plan </h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
												<a href="/teachers" class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>
												<a href="teachers-grid.ejs" class="btn btn-outline-gray me-2"><i class="feather-grid"></i></a>
												<!--<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>-->
												<a href="/add-subscription" class="btn btn-primary"><i class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
									
									<div class="table-responsive">
										<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
											<thead class="student-thread">
												<tr>
													<!-- <th>
														<div class="form-check check-tables">
															<input class="form-check-input" type="number"  value="">
														</div>
													</th> -->
													<th>S.No</th>
        <th>Plan Name</th>
        <th>Features</th>
        <th>Price</th>
       
        <th class="text-end">Edit/View</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>PRE2209</td>
        <td>Aaliyah</td>
        <td>10</td>
        <td class="text-end">
            <div class="actions">
                <a href="javascript:;" class="btn btn-sm bg-success-light me-2">
                    <i class="feather-eye"></i>
                </a>
                <a href="/edit-subscription" class="btn btn-sm bg-danger-light">
                    <i class="feather-edit"></i>
                </a>
            </div>
        </td>
    </tr>
												<!-- <tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="number"  value="2">
														</div>
													</td>
													<td>PRE2213</td>
													<td>malya</td>
											
													
													<td>10</td>
													<td class="text-end">
													
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="number"  value="3">
														</div>
													</td>
													<td>PRE2143</td>
													<td>
														subha
													</td>
													<td>10</td>
													<td class="text-end">
													
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="number"  value="4">
														</div>
													</td>
													<td>PRE2431</td>
													<td>
														yawar
													</td>
													<td>11</td>
													
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr> -->
												<!--<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE1534</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-06.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">Lois A</a>
														</h2>
													</td>
													<td>10</td>
													<td>Female</td>
													<td>English</td>
													<td>B</td>
													<td>413 289 1314</td>
													<td>2844 Leverton Cove Road, Palmer</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE2153</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-07.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">Calvin</a>
														</h2>
													</td>
													<td>9</td>
													<td>Male</td>
													<td>Mathematics</td>
													<td>C</td>
													<td>701 753 3810</td>
													<td>1900  Hidden Meadow Drive, Crete</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE1434</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-08.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">Vincent</a>
														</h2>
													</td>
													<td>10</td>
													<td>Male</td>
													<td>Mathematics</td>
													<td>C</td>
													<td>402 221 7523</td>
													<td>3979  Ashwood Drive, Omaha</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE2345</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-09.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">Kozma  Tatari</a>
														</h2>
													</td>
													<td>9</td>
													<td>Female</td>
													<td>Science</td>
													<td>A</td>
													<td>04 2239 968</td>
													<td>Rruga E Kavajes, Condor Center, Tirana</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE2365</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-10.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">John Chambers</a>
														</h2>
													</td>
													<td>11</td>
													<td>Male</td>
													<td>Botony</td>
													<td>B</td>
													<td>870 663 2334</td>
													<td>4667 Sunset Drive, Pine Bluff</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
													<td>PRE1234</td>
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.ejs" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="/public/assets/admin/img/profiles/avatar-11.jpg" alt="User Image"></a>
															<a href="teacher-details.ejs">Nathan Humphries</a>
														</h2>
													</td>
													<td>10</td>
													<td>Male</td>
													<td>Biology</td>
													<td>A</td>
													<td>077 3499 9959</td>
													<td>86 Lamphey Road, Thelnetham</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="edit-teacher.ejs" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>-->
											</tbody>
										</table>
									</div>
								</div>
							</div>							
						</div>					
					</div>					
				</div>

				<!-- Footer -->
				<!--<footer>
					<p>Copyright © 2022 Dreamguys.</p>					
				</footer>-->
				<!-- /Footer -->
				
			</div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="/public/assets/admin/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

		<!-- Datatables JS -->
		<script src="/public/assets/admin/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/public/assets/admin/js/script.js"></script>
    </body>
</html>