
  .v71_14 {
    width: 336px;
    height: 192px;
    background: linear-gradient(rgba(10,87,120,1), rgba(5,59,82,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v71_18 {
    width: 147px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 26px;
    left: 25px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v71_22 {
    width: 104px;
    height: 171px;
    background: url("./v71_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 212px;
    overflow: hidden;
  }
  .v71_23 {
    width: 111px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 53px;
    left: 25px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v71_24 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 142px;
    left: 25px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  