<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta name="color-scheme" content="dark light"> -->
  <title>
    Masco HTML Template
  </title>
  <link rel="shortcut icon" href="/public/assets/test/image/favicon.png" type="image/x-icon">
  <link href="/public/assets/test/css/aos.css" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet"  type="css/text" href="/public/assets/test/fonts/typography/fonts.css">
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/plugins/aos/aos.min.css">
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/plugins/fancybox/jquery.fancybox.min.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/plugins/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/css/style.css">
  <link rel="stylesheet"  type="text/css" href="/public/assets/test/css/demo.css">
  <style>
    @import url('https://fonts.cdnfonts.com/css/clash-display');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    @import url('https://fonts.cdnfonts.com/css/clash-display');
  </style>
</head>

<body>
  <div class="preloader-wrapper">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="page-wrapper overflow-hidden">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     Header Area
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <header class="site-header site-header--transparent site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Brand Logo
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img class="logo-light" src="/public/assets/test/image/logo-2.png" alt="brand logo">
              <!-- Dark version logo (logo must be White)-->
               <!-- <img class="logo-dark" src="/public/assets/test/image/logo-2.png" alt="brand logo">  -->
            </a>
          </div>
          <div class="menu-block-wrapper ">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <a href='/'>
                  <img src="/public/assets/test/image/icons/logo-whites.svg" alt="brand logo">
                </a>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Demos<i class="fas fa-angle-down"></i></i>
                  </a>
                  <div class="sub-menu" id="submenu-1">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item">
                        <a href='/'>
                          <span class="menu-item-text">Digital agency</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-2'>
                          <span class="menu-item-text">Chat software</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-3'>
                          <span class="menu-item-text">Fitness App</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-4'>
                          <span class="menu-item-text">Online Courses</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-5'>
                          <span class="menu-item-text">SEO Agency</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-6'>
                          <span class="menu-item-text">Cold Email</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-7'>
                          <span class="menu-item-text">Web Hosting</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-8'>
                          <span class="menu-item-text">Startup</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-9'>
                          <span class="menu-item-text">Tracking Software</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/index-10'>
                          <span class="menu-item-text">AI Writing Tool</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class='nav-link-item drop-trigger' href='/about'>About Us</a>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Pages<i class="fas fa-angle-down"></i>
                  </a>
                  <div class="sub-menu" id="submenu-3">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="#" class="sub-menu__item-link">
                          <span class="menu-item-text">Services</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-22">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/service'>
                                <span class="menu-item-text">Service</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/service-details'>
                                <span class="menu-item-text">Service Details</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/team'>
                          <span class="menu-item-text">Team</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Pricing</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-11">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/pricing'>
                                <span class="menu-item-text">Pricing 1</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/pricing-2'>
                                <span class="menu-item-text">Pricing 2</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Career</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-4">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/career'>
                                <span class="menu-item-text">Career</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/career-details'>
                                <span class="menu-item-text">Career Details</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Portfolio</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-7">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/portfolio'>
                                <span class="menu-item-text">Portfolio 1 Classic</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/portfolio-2'>
                                <span class="menu-item-text">Portfolio 2 Masonry</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/portfolio-3'>
                                <span class="menu-item-text">Portfolio 3 Modern</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/portfolio-4'>
                                <span class="menu-item-text">Portfolio 4 Minimal</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/portfolio-details'>
                                <span class="menu-item-text">Portfolio Details</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Blog</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-12">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/blog'>
                                <span class="menu-item-text">Blog</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/blog-details'>
                                <span class="menu-item-text">Blog Details</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Faq</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-8">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/faq'>
                                <span class="menu-item-text">FAQ 1</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/faq-2'>
                                <span class="menu-item-text">FAQ 2</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/faq-3'>
                                <span class="menu-item-text">FAQ 3</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/faq-4'>
                                <span class="menu-item-text">FAQ 4</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Utility</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-9">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/404'>
                                <span class="menu-item-text">404</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/coming-soon'>
                                <span class="menu-item-text">Coming Soon</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link">
                          <span class="menu-item-text">Account</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-10">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href='/login'>
                                <span class="menu-item-text">Sign In</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/register'>
                                <span class="menu-item-text">Sign Up</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href='/reset-password'>
                                <span class="menu-item-text">Reset Password</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Contact<i class="fas fa-angle-down"></i>
                  </a>
                  <div class="sub-menu" id="submenu-13">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item">
                        <a href='/contact'>
                          <span class="menu-item-text">Contact 1</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/contact-2'>
                          <span class="menu-item-text">Contact 2</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href='/contact-3'>
                          <span class="menu-item-text">Contact 3</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
          mobile menu trigger
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Mobile Menu Hamburger Ends
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!-- <div class="header-cta-btn-wrapper">
            <a href="/login" class="btn-masco btn-masco--header btn-masco--header-secondary">
              <span>Login</span>
            </a>
            <a href="/register" class="btn-masco btn-masco--header   btn-secondary-l02 btn-fill--up">
              <span>Sign up free</span>
            </a>
            <a href="/adminlogin" class="btn-masco btn-masco--header   btn-secondary-l02 btn-fill--up">
              <span>Admin</span>
            </a>
          </div> -->
        </nav>
      </div>
    </header>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     navbar-
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Hero Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_hero-section section-padding-120" id="hero">
      <div class="container">
        <div class="row row--custom">
          <div class="col-lg-5 col-md-7 col-xs-8 col-10" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="300">
            <div class="home-2_hero-image-block">
              <div class="home-2_hero-image">
                <img src="/public/assets/test/image/home-2/hero-image.png" alt="hero image">
                <div class="home-2_hero-image-shape">
                  <img src="/public/assets/test/image/home-2/hero-image-shape.svg" alt="hero shape">
                </div>
                <div class="home-2_hero-image-man-1">
                  <img src="/public/assets/test/image/home-2/hero-image-man-1.png" alt="hero shape">
                </div>
                <div class="home-2_hero-image-man-2">
                  <img src="/public/assets/test/image/home-2/hero-image-man-2.png" alt="hero shape">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-auto col-lg-7 col-md-10" data-aos-duration="1000" data-aos="fade-right" data-aos-delay="300">
            <div class="home-2_hero-content">
              <div class="home-2_hero-content-text">
                <h1 class="hero-content__title heading-xl text-black">
                  Engage your customers with real-time chat
                </h1>
                <p>
                  Snaga is a complete customer service platform that connects with
                  your website visitors in real-time to convert new leads, close
                  more deals, and provide better support to your customers.
                </p>
              </div>
              <div class="home-2_hero-button-group">
                <a class='btn-masco btn-primary-l02 btn-fill--up' href='/contact'>
                  <span>Start a 10-day free trial</span></a>
                <a href="#" class="btn-masco btn-outline-l02 btn-fill--up">
                  <span>Learn more</span></a>
              </div>
              <div class="home-2_hero-content-button__bottom-text">
                <span><img src="/public/assets/test/image/icons/icon-star-green.svg" alt="green-star">Rated 4.9/5 - from over 600 reviews</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2 : Feature Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_feature-section section-padding">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xxl-6 col-lg-7 col-md-9">
            <div class="section-heading">
              <h2 class="section-heading__title heading-md text-black">Contains modern features for better experience</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center gutter-y-default">
          <div class="col-lg-4 col-md-6" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
            <div class="feature-card h-100">
              <div class="feature-card__icon">
                <img src="/public/assets/test/image/icons/h02-feature-1.svg" alt="image alt">
              </div>
              <div class="feature-card__body">
                <h3 class="feature-card__title ">Multilingual chat widget</h3>
                <p>Let your customers see the widget in their native languages for communication</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="600">
            <div class="feature-card h-100">
              <div class="feature-card__icon">
                <img src="/public/assets/test/image/icons/h02-feature-2.svg" alt="image alt">
              </div>
              <div class="feature-card__body">
                <h3 class="feature-card__title ">Live visitors list</h3>
                <p>See who your customers are and make the conversation more personal to boost</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="500">
            <div class="feature-card h-100">
              <div class="feature-card__icon">
                <img src="/public/assets/test/image/icons/h02-feature-3.svg" alt="image alt">
              </div>
              <div class="feature-card__body">
                <h3 class="feature-card__title ">Record and keep private</h3>
                <p>Record all your conversations and keep them private so they can&#39;t be hacked</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Content Section 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_content-section-1 section-padding-120 " id="about">
      <div class="container">
        <div class="row row--custom">
          <div class="col-xl-5 col-lg-6 col-auto" data-aos-duration="1000" data-aos="fade-right">
            <div class="home-2_content-image-1 content-image--mobile-width">
              <img src="/public/assets/test/image/home-2/content-1.png" alt="alternative text">
            </div>
          </div>
          <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-10 col-auto" data-aos-duration="1000" data-aos="fade-left">
            <div class="content">
              <div class="content-text-block">
                <h2 class="content-title heading-md text-black">
                  A multi-channel messaging solution in one
                  place here
                </h2>
                <p>
                  Let your customers easily communicate with you via Live Chat,
                  Facebook, Telegram, Viber, or many other tools. Direct response from
                  snaga.
                </p>
              </div>
              <div class="content-divider"></div>
              <div class="content-list-block">
                <ul class="content-list">
                  <li class="content-list-item">
                    <img src="/public/assets/test/image/icons/icon-check-black.svg" alt="alternative text">
                    Chat with visitors, prospects, and customers in real time.
                  </li>
                  <li class="content-list-item">
                    <img src="/public/assets/test/image/icons/icon-check-black.svg" alt="alternative text">
                    Have unlimited, personalized conversations easy at scale.
                  </li>
                  <li class="content-list-item">
                    <img src="/public/assets/test/image/icons/icon-check-black.svg" alt="alternative text">
                    Engage in contextual chat conversations wherever you go.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Content Section 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_content-section-2 padding-bottom-150">
      <div class="container">
        <div class="row row--custom">
          <div class="col-xl-auto col-lg-5 col-auto" data-aos-duration="1000" data-aos="fade-left">
            <div class="home-2_content-image-2 content-image--mobile-width">
              <img src="/public/assets/test/image/home-2/content-image-2.png" alt="alternative text">
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-10 col-auto" data-aos-duration="1000" data-aos="fade-right">
            <div class="content">
              <div class="content-text-block">
                <h2 class="content-title heading-md text-black">
                  Perfect interface for quick support and with no coding
                </h2>
                <p>Visual Builder empowers you to create the perfect AI chatbot quickly
                  and without any coding. Drag and drop conversational elements and test
                  them in real-time to design engaging clients.</p>
                <p>It is a modern messaging platform that combines everything you need
                  for effective support, sales, and engagement, all in a simple
                  interface.</p>
              </div>
              <div class="content-button-block">
                <a href=" about.html" class="btn-masco btn-masco btn-secondary-l02 btn-fill--up"><span>Learn more</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2 : Content Section 3
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_content-section-3 padding-bottom-120 bg-primary-l2-faded">
      <div class="container">
        <div class="row row--custom">
          <div class="col-xxl-6 col-lg-8 col-md-11">
            <div class="section-heading">
              <h2 class="content-title heading-md text-black">
                Develop a communication strategy with live video chat
              </h2>
              <p>
                Video conferencing boosts productivity & overall
                promotes collaboration. The advantage of video conferencing is
                the ability to facilitate all of those.
              </p>
            </div>
          </div>
          <div class=" col-lg-12" data-aos-duration="1000" data-aos="fade-up">
            <div class="home-2_content-image-3 ">
              <img src="/public/assets/test/image/home-2/video-image.png" alt="alternative text">
              <a href="https://www.youtube.com/watch?v=zo9dJFo8H8g" data-fancybox="" class="btn-play absolute-center btn-play--120 text-primary-l02">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2 : Testimonial Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_testimonial-section section-padding-120 bg-primary-opacity-l2" id="testimonial">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xxl-6 col-lg-7 col-md-9">
            <div class="section-heading">
              <h2 class="section-heading__title heading-md text-black">Trusted by millions of worldwide customers</h2>
            </div>
          </div>
        </div>
        <div class="row row--testimonial-widget">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="testimonial-widget">
              <div class="testimonial-widget__body">
                <div class="testimonial-widget__stars">
                  <img src="/public/assets/test/image/icons/star.svg" alt="Rated Star">
                </div>
                <p>“This was definitely my best experience with live chat software. Plug and play. Intuitive. It is fast, clean, amazing.” </p>
              </div>
              <div class="testimonial-widget__rating">
                <strong>Rated 4.5/5 - </strong><span>from over 100 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
            <div class="testimonial-widget">
              <div class="testimonial-widget__body">
                <div class="testimonial-widget__stars">
                  <img src="/public/assets/test/image/icons/star.svg" alt="Rated Star">
                </div>
                <p>“Excellent simple live chat solution that has provided my company with a direct way to communicate with potential for customers through my website.”</p>
              </div>
              <div class="testimonial-widget__rating">
                <strong>Rated 4.5/5 - </strong><span>from over 100 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">
            <div class="testimonial-widget">
              <div class="testimonial-widget__body">
                <div class="testimonial-widget__stars">
                  <img src="/public/assets/test/image/icons/star.svg" alt="Rated Star">
                </div>
                <p>Great customer support! Easy to use, cool user interface. With Chaport you will find all you need. Really recommend to all use this amazine tool.”</p>
              </div>
              <div class="testimonial-widget__rating">
                <strong>Rated 4.5/5 - </strong><span>from over 100 reviews</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <div class="btn-masco link-box btn-primary-l02 btn-fill--up spacer-top-80">
            <span>Read all the reviews on Trustpilot.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ticker-01_section">
      <div class="ticker-01_wrapper">
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
        <div class="ticker-01_content">
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
          <div class="ticker-item">
            <p>Modern software for better communication</p>
            <p>🔥</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Pricing Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_pricing-section section-padding-120 bg-primary-opacity-l2" id="pricing">
      <div class="container">
        <div class="section-heading">
          <h2 class="section-heading__title heading-md  text-black">Choice the right pricing plan that suits your need</h2>
          <div class="home-2_pricing-control-block">
            <div class="pricing-control">
              <span class="active" data-pricing-trigger="pricing-1" data-target="monthly">Monthly</span>
              <span data-pricing-trigger="pricing-1" data-target="yearly">Yearly</span>
            </div>
          </div>
        </div>
        <div class="row gutter-y-30 justify-content-center" data-plan-id="pricing-1" data-plan-active="monthly">
          <div class="col-xl-4 col-lg-6 col-md-8 col-sm-9" data-aos-duration="1000" data-aos="fade-up">
            <div class="pricing-card h-100">
              <div class="pricing-card__head">
                <h3 class="pricing-card__plan">Free Plan</h3>
                <h3 class="pricing-card__price-block">$<span class="pricing-card__price dynamic-value" data-yearly="00" data-monthly="00">00</span>/month</h3>
                <p>
                  No credit card required
                </p>
              </div>
              <div class="pricing-card__body">
                <ul class="pricing-card__list">
                  <li>Unlimited chats & websites</li>
                  <li>60-day conversations history</li>
                  <li>Basic widget customization</li>
                  <li>Web, desktop & mobile apps</li>
                  <li class="disabled">Engage visitors via visitor list</li>
                  <li class="disabled">Engage with automatic messages</li>
                </ul>
                <div class="pricing-card__button">
                  <a class='btn-masco btn-outline w-100' href='/pricing-2'>Purchase now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-8 col-sm-9" data-aos-duration="1000" data-aos="fade-up">
            <div class="pricing-card h-100 active">
              <div class="pricing-card__head">
                <h3 class="pricing-card__plan">Popular Plan</h3>
                <h3 class="pricing-card__price-block">$<span class="pricing-card__price dynamic-value" data-yearly="159" data-monthly="199">199</span>/month</h3>
                <p>
                  No credit card required
                </p>
              </div>
              <div class="pricing-card__body">
                <ul class="pricing-card__list">
                  <li>Live chat + email + FB Messenger</li>
                  <li>3-year conversations history</li>
                  <li>Advanced widget customization</li>
                  <li>24/7 system monitoring facility</li>
                  <li>Engage visitors via visitor list</li>
                  <li>Engage with automatic messages</li>
                </ul>
                <div class="pricing-card__button">
                  <a class='btn-masco btn-primary-l02 w-100' href='/pricing-2'>Purchase now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-8 col-sm-9" data-aos-duration="1000" data-aos="fade-up">
            <div class="pricing-card h-100">
              <div class="pricing-card__head">
                <h3 class="pricing-card__plan">Standard Plan</h3>
                <h3 class="pricing-card__price-block">$<span class="pricing-card__price dynamic-value" data-yearly="39" data-monthly="49">49</span>/month</h3>
                <p>
                  No credit card required
                </p>
              </div>
              <div class="pricing-card__body">
                <ul class="pricing-card__list">
                  <li>Live chat + email + FB Messenger</li>
                  <li>1- year conversations history</li>
                  <li>Advanced widget customization</li>
                  <li>24/7 system monitoring facility</li>
                  <li class="disabled">Engage visitors via visitor list</li>
                  <li class="disabled">Engage with automatic messages</li>
                </ul>
                <div class="pricing-card__button">
                  <a class='btn-masco btn-outline w-100' href='/pricing-2'>Purchase now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Integration Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="home-2_integration-section section-padding-120 " id="integration">
      <div class="container">
        <div class="row row--custom ">
          <div class="offset-xl-1 col-xl-5 col-lg-5 col-auto" data-aos-duration="1000" data-aos="fade-left">
            <div class="home-2_integration-image content-image--mobile-width">
              <img src="/public/assets/test/image/home-2/integration-image.png" alt="alternative text">
            </div>
          </div>
          <div class=" col-xl-6 col-lg-7 col-md-10 col-auto" data-aos-duration="1000" data-aos="fade-right">
            <div class="content">
              <div class="content_text-block">
                <h2 class="content_title heading-md text-black">
                  Seamless integration with all your favorite tools
                </h2>
                <p>
                  Connect our software with the apps you use and love. With the increasing number of integration with communications. Bring in customer data from your favourite tools.
                </p>
              </div>
              <div class="home-2_integration-button">
                <a href="#" class="btn-masco   btn-secondary-l02 btn-fill--up">
                  <span>See all integration</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     Home 2 : CTA 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="cta-home-2 section-padding-100">
      <div class="container">
        <div class="cta-home-2-shape-wrapper">
          <div class="cta-home-2-shape-1">
            <img src="/public/assets/test/image/home-2/cta-shape-1.svg" alt="image alt">
          </div>
          <div class="cta-home-2-shape-2">
            <img src="/public/assets/test/image/home-2/cta-shape-2.svg" alt="image alt">
          </div>
        </div>
        <div class="cta-content-block">
          <h2 class="cta-home-2__title heading-md text-white">Sign up for your free trial
            today & add live chat to your site</h2>
          <a class='btn-masco btn-secondary-l02 btn-fill--up' href='/contact'>
            <span>Get started free</span></a>
        </div>
      </div>
    </section>
    <div class="footer-v2 footer-padding-default footer-l02">
      <div class="container">
        <div class="row row--footer-main">
          <div class="col-md-6 col-lg-5 col-xl-auto">
            <div class="footer-v2__content-block">
              <div class="footer-v2__content-text">
                <div class="footer-brand">
                  <img src="/public/assets/test/image/logo-2.png" alt="image alt">
                </div>
                <p>
                  Email, SMS, Facebook, Chat, CRM, & more, all-in-one platform to help you grow your business through building stronger customer relationships.
                </p>
              </div>
              <ul class="list-social list-social--hvr-black">
                <li>
                  <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12 col-xl-auto">
            <div class="footer-v2__list-block">
              <div class="row row--list-block">
                <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
                  <h3 class="footer-title">Primary Pages</h3>
                  <ul class="footer-list">
                    <li>
                      <a href="#">Demos</a>
                    </li>
                    <li>
                      <a href="#">About Us</a>
                    </li>
                    <li>
                      <a href="#">Services</a>
                    </li>
                    <li>
                      <a href="#">Pages</a>
                    </li>
                    <li>
                      <a href="#">Contact</a>
                    </li>
                  </ul>
                </div>
                <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
                  <h3 class="footer-title">Utility pages</h3>
                  <ul class="footer-list">
                    <li>
                      <a href="#">Instructions</a>
                    </li>
                    <li>
                      <a href="#"> Style guide</a>
                    </li>
                    <li>
                      <a href="#"> Licenses</a>
                    </li>
                    <li>
                      <a href="#"> 404 Not found</a>
                    </li>
                    <li>
                      <a href="#"> Password protected</a>
                    </li>
                  </ul>
                </div>
                <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
                  <h3 class="footer-title">Resources</h3>
                  <ul class="footer-list">
                    <li>
                      <a href="#">Support</a>
                    </li>
                    <li>
                      <a href="#"> Privacy policy</a>
                    </li>
                    <li>
                      <a href="#"> Terms & Conditions</a>
                    </li>
                    <li>
                      <a href="#"> Strategic finance</a>
                    </li>
                    <li>
                      <a href="#"> Video guide</a>
                    </li>
                  </ul>
                </div>
                <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
                  <h3 class="footer-title">Download now</h3>
                  <div class="footer-store-buttons">
                    <a href="#">
                      <img src="/public/assets/test/image/common/app-store.png" alt="image alt">
                    </a>
                    <a href="#">
                      <img src="/public/assets/test/image/common/play-store.png" alt="image alt">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-block">
        <div class="container">
          <div class="copyright-inner text-center  copyright-border">
            <p>© Copyright 2023, All Rights Reserved by Mthemeus</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor Scripts -->
  <script scr="/public/assets/test/css/aos.js"></script>
  <script src="/public/assets/test/plugins/jquery/jquery.min.js"></script>
  <script src="/public/assets/test/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="/public/assets/test/plugins/bootstrap/dist/js/bootstrap.bundle.min.js" type="application/javascript"></script>

  <!-- Plugin's Scripts -->
  <script src="/public/assets/test/plugins/inlineSvg/inlineSvg.min.js"></script>
  <script src="/public/assets/test/css/aos.js"></script>
  <script src="/public/assets/test/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="/public/assets/test/plugins/aos/aos.min.js"></script>
  <script src="/public/assets/test/plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="/public/assets/test/plugins/isotope/packery.pkgd.min.js"></script>
  <script src="/public/assets/test/plugins/isotope/image.loaded.js"></script>
  <script src="/public/assets/test/plugins/slick/slick.min.js"></script>
  <script src="/public/assets/test/plugins/countdown/jquery.countdown.js" defer=""></script>
  <script src="/public/assets/test/js/menu.js"></script>
  <script src="/public/assets/test/js/custom.js"></script>
  <!-- Activation Script -->
</body>
</html>