
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>eCardify| Custom Card Making</title>

    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <!-- Css -->
    <link rel="stylesheet" href="/public/assets/landing/css/style.css" />

    <!-- Dark Mode JS -->
    <script src="/public/assets/landing/js/darkMode.bundle.js"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/public/assets/landing/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/public/assets/landing/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/public/assets/landing/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/public/assets/landing/img/apple-touch-icon-114x114.png" />
  </head>

  <body
    class="overflow-x-hidden font-body text-jacarta-500 dark:bg-jacarta-900"
    itemscope
    itemtype="http://schema.org/WebPage"
  >
    <!-- Header -->
    <header class="js-page-header fixed top-0 z-20 w-full backdrop-blur transition-colors">
      <div class="flex items-center px-6 py-6 xl:px-24">
        <!-- Logo -->
        <a href="index.html" class="shrink-0">
            <img src="/public/assets/landing/img/eCardifyLogo(L).png" class="max-h-7 dark:hidden" >
            <img src="/public/assets/landing/img/eCardifyLogo(D).png" class="hidden max-h-7 dark:block" >
          </a>

        

        <!-- Menu / Actions -->
        <div
          class="js-mobile-menu invisible lg:visible fixed inset-0 z-10 ml-auto items-center bg-white opacity-0 dark:bg-jacarta-800 lg:relative lg:inset-auto lg:flex lg:bg-transparent lg:opacity-100 dark:lg:bg-transparent"
        >
          <!-- Mobile Logo / Menu Close -->
          <div
            class="t-0 fixed left-0 z-10 flex w-full items-center justify-between bg-white p-6 dark:bg-jacarta-800 lg:hidden"
          >
            <!-- Mobile Logo -->
            <a href="index.html" class="shrink-0">
              <img src="/public/assets/landing/img/eCardifyLogo(L).png" class="max-h-7 dark:hidden" >
              <img src="/public/assets/landing/img/eCardifyLogo(D).png" class="hidden max-h-7 dark:block" >
            </a>

            <!-- Mobile Menu Close -->
            <button
              class="js-mobile-close group ml-2 flex h-10 w-10 items-center justify-center rounded-full border border-jacarta-100 bg-white transition-colors hover:border-transparent hover:bg-accent focus:border-transparent focus:bg-accent dark:border-transparent dark:bg-white/[.15] dark:hover:bg-accent"
              aria-label="close mobile menu"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                class="h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                />
              </svg>
            </button>
          </div>

          <!-- Mobile Search -->
          <form action="search" class="relative mt-24 mb-8 w-full lg:hidden">

          </form>

          <!-- Primary Nav -->
          <nav class="navbar w-full">
            <ul class="flex flex-col lg:flex-row">
              <li class="js-nav-dropdown group relative">
                <a
                  href="#"
                  class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
                  id="navDropdown-4"
                  aria-expanded="false"
                  role="button"
                  data-bs-toggle="dropdown"
                  >Home
                  <i class="lg:hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      class="h-4 w-4 dark:fill-white"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
                    </svg>
                  </i>
                </a>
                <ul
                  class="dropdown-menu group-hover:visible lg:invisible left-0 top-[85%] z-10 hidden min-w-[200px] gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:opacity-100 dark:bg-jacarta-800 lg:absolute lg:grid lg:translate-y-4 lg:py-4 lg:px-2 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"
                  aria-labelledby="navDropdown-4"
                >
                  <li>
                    <a
                      href="index.html"
                      class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600"
                    >
                      <span class="font-display text-sm text-jacarta-700 dark:text-white">Home</span>
                    </a>
                  </li>
                  
                  
                </ul>
              </li>
                
              </li>
              <li class="js-nav-dropdown group relative">
                <a
                  href="#"
                  class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
                  id="navDropdown-4"
                  aria-expanded="false"
                  role="button"
                  data-bs-toggle="dropdown"
                  >Contact Us
                  <i class="lg:hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      class="h-4 w-4 dark:fill-white"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
                    </svg>
                  </i>
                </a>
                <ul
                  class="dropdown-menu group-hover:visible lg:invisible left-0 top-[85%] z-10 hidden min-w-[200px] gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:opacity-100 dark:bg-jacarta-800 lg:absolute lg:grid lg:translate-y-4 lg:py-4 lg:px-2 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"
                  aria-labelledby="navDropdown-4"
                >
                  <li>
                    <a
                      href="contact.html"
                      class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600"
                    >
                      <span class="font-display text-sm text-jacarta-700 dark:text-white">Contact Us</span>
                    </a>
                  </li>

                </ul>
              </li>
              <li class="js-nav-dropdown group relative">
                <a
                  href="#"
                  class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
                  id="navDropdown-4"
                  aria-expanded="false"
                  role="button"
                  data-bs-toggle="dropdown"
                  >About
                  <i class="lg:hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      class="h-4 w-4 dark:fill-white"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
                    </svg>
                  </i>
                </a>
                <ul
                  class="dropdown-menu group-hover:visible lg:invisible left-0 top-[85%] z-10 hidden min-w-[200px] gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:opacity-100 dark:bg-jacarta-800 lg:absolute lg:grid lg:translate-y-4 lg:py-4 lg:px-2 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"
                  aria-labelledby="navDropdown-4"
                >
                  <li>
                    <a
                      href="about.html"
                      class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600"
                    >
                      <span class="font-display text-sm text-jacarta-700 dark:text-white">About</span>
                    </a>
                  </li>

                </ul>
              </li>

            </ul>
          </nav>

          <!-- Mobile Connect Wallet / Socials -->
          <div class="mt-10 w-full lg:hidden">
           

            <hr class="my-5 h-px border-0 bg-jacarta-100 dark:bg-jacarta-600" />

            <!-- Socials -->
            <div class="flex items-center justify-center space-x-5">
              <a href="#" class="group">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="facebook"
                  class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="twitter"
                  class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="discord"
                  class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                >
                  <path
                    d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="instagram"
                  class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="tiktok"
                  class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <!-- Actions -->
          <div class="ml-8 hidden lg:flex xl:ml-12">
            

            <!-- Profile -->
            

            <!-- Dark Mode -->
            <a
              href="#"
              class="js-dark-mode-trigger group ml-2 flex h-10 w-10 items-center justify-center rounded-full border border-jacarta-100 bg-white transition-colors hover:border-transparent hover:bg-accent focus:border-transparent focus:bg-accent dark:border-transparent dark:bg-white/[.15] dark:hover:bg-accent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                class="dark-mode-light h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:hidden"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                class="dark-mode-dark hidden h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:block dark:fill-white"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"
                />
              </svg>
            </a>
          </div>
        </div>

        <!-- Mobile Menu Actions -->
        <div class="ml-auto flex lg:hidden">
          <!-- Profile -->

          <!-- Dark Mode -->
          <a
            href="#"
            class="js-dark-mode-trigger group ml-2 flex h-10 w-10 items-center justify-center rounded-full border border-jacarta-100 bg-white transition-colors hover:border-transparent hover:bg-accent focus:border-transparent focus:bg-accent dark:border-transparent dark:bg-white/[.15] dark:hover:bg-accent"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="dark-mode-light h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:hidden"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="dark-mode-dark hidden h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:block dark:fill-white"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"
              />
            </svg>
          </a>

          <!-- Mobile Menu Toggle -->
          <button
            class="js-mobile-toggle group ml-2 flex h-10 w-10 items-center justify-center rounded-full border border-jacarta-100 bg-white transition-colors hover:border-transparent hover:bg-accent focus:border-transparent focus:bg-accent dark:border-transparent dark:bg-white/[.15] dark:hover:bg-accent"
            aria-label="open mobile menu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M18 18v2H6v-2h12zm3-7v2H3v-2h18zm-3-7v2H6V4h12z" />
            </svg>
          </button>
        </div>
      </div>
    </header>

    <main>
      <!-- Hero -->
      <section class="relative py-20 lg:pt-48">
        <picture class="pointer-events-none absolute inset-x-0 top-0 -z-10 dark:hidden">
          <img src="/public/assets/landing/img/gradient.jpg" alt="gradient">
        </picture>
        <picture class="pointer-events-none absolute inset-x-0 top-0 -z-10 hidden dark:block">
          <img src="/public/assets/landing/img/gradient_dark.jpg" alt="gradient dark">
        </picture>

        <div class="container">
          <div class="h-full items-center gap-4 lg:grid lg:grid-cols-12">
            <div class="flex h-full flex-col items-center lg:col-span-5 lg:items-start ">
              <div class="mb-8 flex items-center space-x-3 rounded-3xl border border-jacarta-200 px-5 py-2 dark:border-jacarta-300">
                <img src="/public/assets/landing/img/crypto-app/rocket_crypto_app.png" alt="" width="20" height="20">
                <span class="text-xs font-bold uppercase tracking-wide text-jacarta-500 dark:text-jacarta-100">#1 In the Market</span>
              </div>
              <h1 class="mb-10 font-display text-5xl text-jacarta-700 dark:text-white lg:text-6xl xl:text-7xl">
                
                <span class="animate-gradient">Your Digital Identity, Simply eCardify</span>
              </h1>

              <div style="display: flex; gap: 10px;">
                <a href="#" class="rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark">
                    Create Card
                </a>
                <a
                    href="#"
                    class="group flex items-center rounded-full bg-white py-3 px-6 text-center font-semibold text-jacarta-500 shadow-white-volume transition-all hover:bg-accent-dark hover:text-white hover:shadow-accent-volume"
                  >
                    Learn More
                  </a>
            </div>
            
            </div>

            <!-- Hero image -->
            <div class="col-span-7 relative text-center">
              <!-- Image Container -->
              <div class="relative inline-block">
                  <img src="/public/assets/landing/img/1.png"  height="300" width="300"  alt="hero" class="inline-block">
              </div>
              
                  <!-- Right Circle Next to Left Circle -->
                  <div class="absolute -right-10 -top-10  -z-10 animate-fly">
                      <img src="/public/assets/landing/img/const4.jpg" alt="" class="dark:hidden">
                      <img src="/public/assets/landing/img/const4.jpg" alt="" class="hidden dark:block">
                  </div>
              
                 
            
          </div>
          
          
      </section>
      <!-- end hero -->

      <!-- Promo -->
      <section class="relative py-24 dark:bg-jacarta-800">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="/public/assets/landing/img/gradient_light.jpg" alt="gradient" class="h-full w-full">
        </picture>
        <div class="pr-[calc((100%_-_1170px)/2)]">
          <div class="lg:flex lg:justify-between">
            <!-- Image -->
            <!-- Image -->
            <div class="relative mb-8 pr-6" style="width: 75%;">
                <img src="/public/assets/landing/img/desktop_mobile.png" alt="" loading="lazy" style="width: 100%;">
              </div>


            <!-- Info -->
            <div id="about" class="py-10 px-6 lg:w-[37%] lg:pl-28">
              <h2 class="mb-6 font-display text-3xl text-jacarta-700 dark:text-white">
                About eCardify
              </h2>
              <p class="mb-12 text-lg leading-normal dark:text-jacarta-300">
                eCardify is a web application that simplifies the process of sharing professional profiles and contact information. Our customizable digital business cards are 
                designed to make networking easier and more efficient. With the power of QR codes and sleek design, eCardify is the perfect solution for professionals who value simplicity and style.
              <div class="mb-3 flex space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-8 w-8 shrink-0 fill-accent">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                </svg>
                <div>
                  <span class="mb-3 mt-2 block font-display text-base font-semibold text-jacarta-700 dark:text-white">Customizable Fields</span>
                </div>
              </div>
              <div class="mb-3 flex space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-8 w-8 shrink-0 fill-accent">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                </svg>
                <div>
                  <span class="mb-3 mt-2 block font-display text-base font-semibold text-jacarta-700 dark:text-white">QR Codes</span>
                </div>
              </div>
              <div class="flex space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-8 w-8 shrink-0 fill-accent">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                </svg>
                <div>
                  <span class="mb-3 mt-2 block font-display text-base font-semibold text-jacarta-700 dark:text-white">Sleek Design</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end promo -->
       <!-- Coverflow Slider -->
       <div class="relative px-6 pb-16 sm:px-0">
        <!-- Slider -->
        <div class="swiper coverflow-slider !py-5">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const1.png" alt="item 1" class="swiper-lazy h-[500px] w-full object-cover" height="500" width="1000">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const2.png" alt="item 1" class="swiper-lazy h-[500px] w-full object-cover" height="500" width="1000">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const3.jpg" alt="item 1" height="500" width="1000" class="swiper-lazy h-[500px] w-full object-cover">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const4.jpg" alt="item 1" height="500" width="1000" class="swiper-lazy h-[500px] w-full object-cover">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                </div>
              </article>
            </div>
            

           
            
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const5.jpg" alt="item 1" height="500" width="1000" class="swiper-lazy h-[500px] w-full object-cover">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                </div>
              </article>
            </div>
            
            <div class="swiper-slide">
              <article>
                <div class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700">
                  <figure class="relative">
                    <a href="#">
                      <img src="/public/assets/landing/img/const6.jpg" alt="item 1" height="500" width="1000" class="swiper-lazy h-[500px] w-full object-cover">
                      <div class="swiper-lazy-preloader"></div>
                    </a>
                  </figure>
                </div>
              </article>
            </div>
            
           
          </div>
        </div>

        <!-- Navigation -->
        <div class="swiper-button-prev swiper-button-prev-4 group absolute top-1/2 left-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-accent">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"></path>
          </svg>
        </div>
        <div class="swiper-button-next swiper-button-next-4 group absolute top-1/2 right-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-accent">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"></path>
          </svg>
        </div>
      </div>
      <!-- end coverflow slider -->

      <!-- Testimonials -->
      <section class="py-24 dark:bg-jacarta-900">
        <div class="container relative overflow-hidden xl:left-[calc((100vw-1202px)/4)] xl:max-w-[calc(1202px+((100vw-1202px)/2))] xl:pr-[calc((100vw-1176px)/2)]">
          <div class="mx-auto mb-12 max-w-sm text-center">
            <h2 class="mb-6 text-center font-display text-3xl font-medium text-jacarta-700 dark:text-white">
              Satisfied Customers
            </h2>
            <p class="text-lg dark:text-jacarta-300">Customers those who already tried our eCardify.</p>
          </div>

          <!-- Slider -->
          <div class="swiper card-slider-2-columns xl:!overflow-visible">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="flex flex-wrap gap-5 rounded-2.5xl border border-jacarta-100 bg-white p-12 dark:border-transparent dark:bg-jacarta-700 lg:flex-nowrap">
                  <img src="/public/assets/landing/img/testimonials/testimonial_1.jpg" alt="" class="w-28 self-start rounded-2.5xl lg:w-auto">
                  <div class="-ml-14 -mt-4 flex h-16 w-16 shrink-0 items-center justify-center rounded-full border-[5px] border-white bg-accent dark:border-jacarta-700 md:mb-0 md:w-16">
                    <svg width="22" height="19" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-white">
                      <path d="M6.027 18.096c-.997 0-1.813-.204-2.448-.612a5.147 5.147 0 01-1.564-1.564 5.729 5.729 0 01-.952-2.38C.927 12.679.86 11.976.86 11.432c0-2.221.567-4.239 1.7-6.052C3.693 3.567 5.461 2.093 7.863.96l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224zm11.56 0c-.997 0-1.813-.204-2.448-.612a5.148 5.148 0 01-1.564-1.564 5.73 5.73 0 01-.952-2.38c-.136-.861-.204-1.564-.204-2.108 0-2.221.567-4.239 1.7-6.052 1.134-1.813 2.902-3.287 5.304-4.42l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224z"></path>
                    </svg>
                  </div>

                  <div class="mb-4 md:mb-0">
                    <div class="-ml-1 mb-3 flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                    </div>
                    <p class="text-md leading-normal text-jacarta-700 dark:text-white">
                      eCardify is one of the most exciting, if you're interested in shaping a cutstomized cards try this  
                    </p>
                    <span class="mt-6 block font-display text-sm font-medium text-jacarta-700 dark:text-white">Lokesh</span>
                    <span class="text-2xs font-medium tracking-tight dark:text-jacarta-400">General Partner at Entrepreneur</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="flex flex-wrap gap-5 rounded-2.5xl border border-jacarta-100 bg-white p-12 dark:border-transparent dark:bg-jacarta-700 lg:flex-nowrap">
                  <img src="/public/assets/landing/img/testimonials/testimonial_2.jpg" alt="" class="w-28 self-start rounded-2.5xl lg:w-auto">
                  <div class="-ml-14 -mt-4 flex h-16 w-16 shrink-0 items-center justify-center rounded-full border-[5px] border-white bg-accent dark:border-jacarta-700 md:mb-0 md:w-16">
                    <svg width="22" height="19" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-white">
                      <path d="M6.027 18.096c-.997 0-1.813-.204-2.448-.612a5.147 5.147 0 01-1.564-1.564 5.729 5.729 0 01-.952-2.38C.927 12.679.86 11.976.86 11.432c0-2.221.567-4.239 1.7-6.052C3.693 3.567 5.461 2.093 7.863.96l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224zm11.56 0c-.997 0-1.813-.204-2.448-.612a5.148 5.148 0 01-1.564-1.564 5.73 5.73 0 01-.952-2.38c-.136-.861-.204-1.564-.204-2.108 0-2.221.567-4.239 1.7-6.052 1.134-1.813 2.902-3.287 5.304-4.42l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224z"></path>
                    </svg>
                  </div>

                  <div class="mb-4 md:mb-0">
                    <div class="-ml-1 mb-3 flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                    </div>
                    <p class="text-md leading-normal text-jacarta-700 dark:text-white">
                      eCardify is one of the most exciting, if you're interested in shaping a cutstomized cards try this  
                    </p>
                    <span class="mt-6 block font-display text-sm font-medium text-jacarta-700 dark:text-white">Pranav</span>
                    <span class="text-2xs font-medium tracking-tight dark:text-jacarta-400">Entrepreneur / Manager</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="flex flex-wrap gap-5 rounded-2.5xl border border-jacarta-100 bg-white p-12 dark:border-transparent dark:bg-jacarta-700 lg:flex-nowrap">
                  <img src="/public/assets/landing/img/testimonials/testimonial_3.jpg" alt="" class="w-28 self-start rounded-2.5xl lg:w-auto">
                  <div class="-ml-14 -mt-4 flex h-16 w-16 shrink-0 items-center justify-center rounded-full border-[5px] border-white bg-accent dark:border-jacarta-700 md:mb-0 md:w-16">
                    <svg width="22" height="19" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-white">
                      <path d="M6.027 18.096c-.997 0-1.813-.204-2.448-.612a5.147 5.147 0 01-1.564-1.564 5.729 5.729 0 01-.952-2.38C.927 12.679.86 11.976.86 11.432c0-2.221.567-4.239 1.7-6.052C3.693 3.567 5.461 2.093 7.863.96l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224zm11.56 0c-.997 0-1.813-.204-2.448-.612a5.148 5.148 0 01-1.564-1.564 5.73 5.73 0 01-.952-2.38c-.136-.861-.204-1.564-.204-2.108 0-2.221.567-4.239 1.7-6.052 1.134-1.813 2.902-3.287 5.304-4.42l.612 1.224c-1.405.59-2.606 1.519-3.604 2.788-1.042 1.27-1.564 2.561-1.564 3.876 0 .544.068 1.02.204 1.428a3.874 3.874 0 012.516-.884c1.179 0 2.199.385 3.06 1.156.862.77 1.292 1.836 1.292 3.196 0 1.27-.43 2.312-1.292 3.128-.861.816-1.881 1.224-3.06 1.224z"></path>
                    </svg>
                  </div>

                  <div class="mb-4 md:mb-0">
                    <div class="-ml-1 mb-3 flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-5 w-5 fill-orange">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"></path>
                      </svg>
                    </div>
                    <p class="text-md leading-normal text-jacarta-700 dark:text-white">
                      eCardify is one of the most exciting, if you're interested in shaping a cutstomized cards try this  
                    </p>
                    <span class="mt-6 block font-display text-sm font-medium text-jacarta-700 dark:text-white">Gowtham  </span>
                    <span class="text-2xs font-medium tracking-tight dark:text-jacarta-400">NFT Entrepreneur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slider dots -->
          <div class="swiper-pagination mt-10 text-center"></div>
        </div>
      </section>
      <!-- end testimonials -->

      <!-- CTA Download App -->
      
     -- <section class="relative pt-20">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="/public/assets/landing/img/gradient_light.jpg" alt="gradient" class="h-full w-full">
        </picture>
        <picture class="pointer-events-none absolute inset-0 -z-10 hidden dark:block">
          <img src="/public/assets/landing/img/gradient_dark.jpg" alt="gradient dark" class="h-full w-full">
        </picture>
        <div class="container">
          <div class="flex flex-col items-center space-y-10 lg:flex-row lg:space-y-0 lg:space-x-4">
            <div class="mb-10 lg:order-1 lg:w-2/4 xl:w-[30%]">
              <div class="text-center lg:text-left">
                <h2 class="mb-6 font-display text-xl text-jacarta-700 dark:text-white lg:pr-4">
                  Test our Sample
                  <span class="text-jacarta-300">eCardify Profile</span>
                </h2>
              </div>
            </div>
            <div class="order-3 text-center lg:order-2 lg:w-1/4 lg:self-end xl:w-[40%]">
                <img src="/public/assets/landing/img/pranav_NFC.png" class="inline-block" alt="">
            </div>
            <div class="mb-10 hidden lg:order-3 lg:block lg:w-2/4 xl:w-[30%]">
              <div class="flex items-center space-x-8 lg:pl-6">
                <div class="inline-block flex-shrink-0 rounded-2.5xl border border-jacarta-100 bg-white p-6">
                  <img src="/public/assets/landing/img/qr.png" alt="">
                </div>
                <div class="text-left">
                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="h-rotate mb-2 h-6 w-6 fill-jacarta-700 dark:fill-white">
                    <g>
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"></path>
                    </g>
                  </svg>
                  <span class="text-lg text-jacarta-700 dark:text-white">Scan to view our eCardify Profile</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end cta download app

      <!-- Help -->
      <section class="relative bg-light-base py-24 dark:bg-jacarta-800">
        <div class="container">
          <div class="items-center justify-between lg:flex lg:space-x-24">
            <div class="lg:w-[45%]">
              <h2 class="mb-6 font-display text-3xl font-medium text-jacarta-700 dark:text-white">Need help?</h2>
              <p class="mb-6 text-lg dark:text-jacarta-300">
                Discover NFTs, decentralized finance, crypto gaming, and thousands of Dapps! We’ve integrated with the
                WalletConnect protocol to facilitate your simple and secure connection.
              </p>
              <p class="dark:text-jacarta-300">
                We’ve integrated with the WalletConnect protocol to facilitate your simple and secure connection to the
                world of Web3 quickly and instantaneously.
              </p>
            </div>
            <div class="lg:w-[55%]">
              <div class="mt-12 md:flex md:space-x-8 lg:justify-end">
                <div class="relative mb-8 flex-1 self-end rounded-2.5xl bg-green p-8 shadow-2xl">
                  <div class="absolute right-4 top-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-12 w-12 fill-white/50">
                      <path fill="none" d="M0 0L24 0 24 24 0 24z"></path>
                      <path d="M20 2c.552 0 1 .448 1 1v3.757l-2 2V4H5v16h14v-2.758l2-2V21c0 .552-.448 1-1 1H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h16zm1.778 6.808l1.414 1.414L15.414 18l-1.416-.002.002-1.412 7.778-7.778zM13 12v2H8v-2h5zm3-4v2H8V8h8z"></path>
                    </svg>
                  </div>
                  <div>
                    <span class="mb-2 block font-display text-lg text-white">Blog</span>
                    <p class="mb-4 text-white">Stay up to date with the latest stories and commentary.</p>
                    <a href="#" class="font-bold text-white underline">Learn More</a>
                  </div>
                </div>
                <div class="relative mb-8 flex-1 self-end rounded-2.5xl bg-accent p-8 py-16 shadow-2xl">
                  <div class="absolute right-4 top-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-12 w-12 fill-white/50">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M22 17.002a6.002 6.002 0 0 1-4.713 5.86l-.638-1.914A4.003 4.003 0 0 0 19.465 19H17a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2h2.938a8.001 8.001 0 0 0-15.876 0H7a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-5C2 6.477 6.477 2 12 2s10 4.477 10 10V17.002zM20 17v-4h-3v4h3zM4 13v4h3v-4H4z"></path>
                    </svg>
                  </div>
                  <div>
                    <span class="mb-2 block font-display text-lg text-white">24/7 Chat Support</span>
                    <p class="mb-4 text-white">Get our friendly customer service agents at your service.</p>
                    <a href="#" class="font-bold text-white underline">Chat Now</a>
                  </div>
                </div>
              </div>
              <div class="relative">
                <div class="relative mx-auto self-start rounded-2.5xl bg-blue p-8 shadow-2xl md:max-w-xs">
                  <div class="absolute right-4 top-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" class="h-12 w-12 fill-white/50">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M5.455 15L1 18.5V3a1 1 0 0 1 1-1h15a1 1 0 0 1 1 1v12H5.455zm-.692-2H16V4H3v10.385L4.763 13zM8 17h10.237L20 18.385V8h1a1 1 0 0 1 1 1v13.5L17.545 19H9a1 1 0 0 1-1-1v-1z"></path>
                    </svg>
                  </div>

                  <div>
                    <span class="mb-2 block font-display text-lg text-white">FAQs</span>
                    <p class="mb-4 text-white">View FAQs for detailed instructions on specific features.</p>
                    <a href="#" class="font-bold text-white underline">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end help
    </main>

    <!-- Footer -->
    <footer class="page-footer bg-white dark:bg-jacarta-900">
      <div class="container">
        <div class="grid grid-cols-6 gap-x-7 gap-y-14 pt-24 pb-12 md:grid-cols-12">
          <div class="col-span-full sm:col-span-3 md:col-span-4">
            <!-- Logo -->
            <a href="index.html" class="shrink-0">
              <img src="/public/assets/landing/img/eCardifyLogo(L).png" class="max-h-7 dark:hidden" >
              <img src="/public/assets/landing/img/eCardifyLogo(D).png" class="hidden max-h-7 dark:block" >
            </a>
            <br>
            <p class="mb-12 dark:text-jacarta-300 animate-gradient">
              Your Digital Identity,<br>Simply eCardify
            </p>
            
            
            <!-- Socials -->
            <div class="flex space-x-5">
              <a href="#" class="group">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                  <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                  <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="discord" class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512">
                  <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                </svg>
              </a>
              <a href="#" class="group">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="tiktok" class="h-5 w-5 fill-jacarta-300 group-hover:fill-accent dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                  <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-span-full sm:col-span-3 md:col-span-2">
            <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">About Us</h3>
            <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Company</a>
              </li>
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Team</a>
              </li>
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-span-full sm:col-span-3 md:col-span-2">
            <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">Contact</h3>
            <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Email</a>
              </li>
              <li>
                <a href="help-center.html#" class="hover:text-accent dark:hover:text-white">Help Center</a>
              </li>
            </ul>
          </div>

          <div class="col-span-full sm:col-span-3 md:col-span-2">
            <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">Marketplace</h3>
            <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Plans</a>
              </li>
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Reviews</a>
              </li>
              <li>
                <a href="#" class="hover:text-accent dark:hover:text-white">Blogs</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex items-center space-x-2">
          <div class="status-dot"></div>
          <a href="platform-status.html" class="hover:text-accent"><span>All systems are Operational</span></a>
        </div>
        

        <div class="flex flex-col items-center justify-between space-y-2 py-8 sm:flex-row sm:space-y-0">

          <span class="text-sm dark:text-jacarta-400">&copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>
              eCardify — Made by
              <a href="http://65.0.200.229/" class="hover:text-accent">Jaswanth</a>
          </span>
          
          <ul class="flex flex-wrap space-x-4 text-sm dark:text-jacarta-400">
              <li>
                  <a href="tos.html" class="hover:text-accent">Terms and conditions</a>
              </li>
              <li>
                  <a href="#" class="hover:text-accent">Privacy policy</a>
              </li>
          </ul>
      </div>
      
      </div>
    </footer>

    
    <script src="/public/assets/landing/js/app.bundle.js"></script>
    <script src="/public/assets/landingjs/videoLightbox.bundle.js"></script>
    <style>
      /* Styles for the blinking dot */
      .status-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: blue;
        animation: blink-animation 1s infinite;
      }
  
      /* Blinking animation */
      @keyframes blink-animation {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
    </style>
    
  </body>
</html>
