<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
       <h1>Welcome to eCardify, your digital business card platform </h1>

       <p> it is a web application that allows users to create and share digital business cards effortlessly. With customizable fields, a sleek design, and the power of QR codes, eCardify simplifies the process of sharing contact information and professional profiles. </p>
    </div>
</body>
</html>